<div class="container">
    <div class="header">
        <h4 class="chart-title title-indicator">Total comments {{total}}</h4>
    </div>
    <div class="legend">
        <div  *ngFor="let tag of commentsLabels"  class="tag"> <div [ngClass]="tag.class" class="square"></div> <p>{{tag.name}} <strong>{{tag.value}}</strong></p></div>
      </div>
      <div class="pie-container" *ngIf="data.dataset">
        <ngx-charts-pie-chart
          [view]=""
          [scheme]="data.brushes"
          [animations]="false"
          [results]="data.dataset"
          [gradient]="gradient"
          [legend]="showLegend"
          [legendPosition]="legendPosition"
          [labels]="showLabels"
          [labelFormatting]="setLabelFormatting"  
          [doughnut]="isDoughnut"
          (select)="onSelect($event)"
          >
        </ngx-charts-pie-chart>
 </div>
</div>