<div class="row">
    <div class="col-12">
        <div>

            <h2>List of {{indicatorTypeName}}</h2>
            <div class="row col sub-header">
                <div class="col row text-left">
                    <div class="model-link-container" (click)="goToPDF('AR')">
                        <i class="icon-pdf"></i>
                        <hr>
                        <p>AR Template</p>
                    </div>
                    <div class="model-link-container" (click)="goToPDF(indicatorType)">
                        <i class="icon-pdf"></i>
                        <hr>
                        <p>{{indicatorTypeName}} Template</p>
                    </div>
                </div>
                <div class="col row text-right">
                    <div class="circle complete"></div>
                    <p>Complete</p>
                    <div class="circle pending" style="margin-left: 50px;"></div>
                    <p>Pending</p>
                </div>
            </div>
            <table class="table table-bordered">
                <thead class="table-header">
                    <tr>
                        <th scope="col" [class.active]="order === 'id'" (click)="setOrder('id')">
                            <div class="header-row">
                                Id
                                <div class="order-icon" *ngIf="order === 'id'">
                                    <span [hidden]="reverse">▼</span>
                                    <span [hidden]="!reverse">▲</span>
                                </div>
                            </div>
                        </th>
                        <th scope="col" [class.active]="order === 'title'" (click)="setOrder('title')">
                            <div class="header-row">
                                Title
                                <div class="order-icon" *ngIf="order === 'title'">
                                    <span [hidden]="reverse">▼</span>
                                    <span [hidden]="!reverse">▲</span>
                                </div>
                            </div>
                        </th>
                        <th scope="col" [class.active]="order === 'crp'" (click)="setOrder('crp')">
                            <div class="header-row">
                                CRP
                                <div class="order-icon" *ngIf="order === 'crp'">
                                    <span [hidden]="reverse">▼</span>
                                    <span [hidden]="!reverse">▲</span>
                                </div>
                            </div>
                        </th>
                        <th scope="col" [class.active]="order === 'comments_count'" (click)="setOrder('comments_count')">
                            <div class="header-row"> Comments
                                <div class="order-icon" *ngIf="order === 'comments_count'">
                                    <span [hidden]="reverse">▼</span>
                                    <span [hidden]="!reverse">▲</span>
                                </div>
                            </div>
                        </th>
                        <th scope="col" [class.active]="order === 'status'" (click)="setOrder('status')">
                            <div class="header-row"> QA Status
                                <div class="order-icon" *ngIf="order === 'status'">
                                    <span [hidden]="reverse">▼</span>
                                    <span [hidden]="!reverse">▲</span>
                                </div>
                            </div>
                        </th>
                    </tr>
                </thead>
                <tbody class="table-body">
                    <tr *ngFor="let item of returnedArray | orderBy: order:reverse:'case-insensitive'">
                        <th scope="row">{{ item.id }}</th>
                        <td style="cursor: pointer;" (click)="goToView(item.id)">
                            {{ item.title }}
                        </td>
                        <td>{{ item.crp }}</td>
                        <td>{{ item.comments_count }}</td>
                        <td>
                            <div class="circle {{ item.status }}"></div>
                        </td>
                    </tr>
                </tbody>
            </table>
            <div class="d-flex justify-content-center p-2 pagination-container">
                <pagination [rotate]="false" [totalItems]="collectionSize" [maxSize]="3"
                    (pageChanged)="pageChanged($event)">
                </pagination>
            </div>


        </div>
        
        <!-- Loading Spinner -->
        <ngx-spinner [name]="spinner_name" [fullScreen]="false"></ngx-spinner>
    </div>
</div>