@import "../../../assets/variables.scss";


* {
  box-sizing: border-box; 
  margin: 0;
}

h2 {
  text-align: center;
  margin: 1em;
  font-size: $font-lg;
}

.icon-go-back{
  height:0.8em
}
.nav-item{
  padding-top: 0;
  margin-bottom: 2em;
  text-transform: capitalize;
}

.go-back {
  font-weight: 600;
  color: #f1b83b;
  font-size: 1em;
}

.go-back:hover {
  color: #d59b1b;
}

.filters-container{
  display: flex;
  gap: 2em;
  padding: 2em 1em;
  background-color: var(--input-gray);
  border-radius: 6px;
  margin-bottom: 1em;
  // font-size: $font-sm;
  .date-filter{
    position: relative;
    span{
      position: absolute;
      top: -1.5em;
      left: 1em;
      font-size: $font-xs;
      font-weight: $semibold;
    }
    input{
      height: 1em;
      width: 1em;
      cursor: pointer;
    }
    padding: 0 1em;
    display: flex;
    gap: 2em;
    justify-content: space-between;
    align-items: center;
    // width: 30%;
    width: auto;

    height: auto;
    // border: 1px solid blue;
  }
  .removed-filter{
    .removed-inactive{
      background-color: #fff;
    }
  }
  .form-group{
    flex: auto;
  }
}

.evaluation-status {
  border-radius: 0.3em;
  font-size: 0.5em;
  padding: 2px 5px;
  display: block !important;
  float: right;
}
.added {
  border: var(--yellow-secondary) 2px solid;
  background: var(--yellow-primary);
}
.new {
  border: var(--green-primary) 2px solid;
  background: var(--green-secondary);
}
.removed {
  border: var(--red-primary) 2px solid;
  background: var(--red-tertiary);
}

.sub-header {
  margin: 1em 0;
  padding: 0;
  height: 3.4em;
  align-items: center;
  .circle {
    margin: 0 1em;
  }
  .text-right {
    justify-content: flex-end;
  }
  .text-left {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    width: auto;
    height: 100%;
    padding: 0.5em;
    .model-link-container { 
      cursor: pointer;
      background-color: var(--gray-primary);
      border-radius: 0.3em;
      height: 100%;
      // width: 8em;
      margin-right: 2em;
      display: flex;
      align-items: center;
      i {
        height: 80%;
        padding: 0 5px;
      }
      p {
        margin: 0;
        vertical-align: middle;
        line-height: 2em;
        padding: 0 1em;
      }
      hr {
        // position: relative;
        background: var(--gray-tertiary);
        width: 2px;
        height: 90%;
        // top: -10px;
        margin: 0 auto;
      }
    }
  }
}

.table-header {
  tr {
    th {
      text-align: center;
      vertical-align: middle;
      padding: 0.75em;
      text-transform: uppercase;
      cursor: pointer;
      .header-row {
        display: flex;
        flex-direction: row;
        justify-content: center;
        .order-icon {
          margin-left: 1em;
        }
      }
    }
    th.active {
      background-color: var(--green-tertiary);
      color: var(--black);
    }
  }
}

.table-body {
  td {
    font-size: $font-sm;
    text-align: center;
    vertical-align: middle;
    padding: 0.75em;
    a{
      font-weight: 500;
    }
    .require-second-assessment {
      font-size: $font-xs;
      font-weight: $semibold;
      color: var(--color-dark-text-btn);
    }
    .excel-download {
      cursor: pointer;
      color: #007bff;
      text-decoration: underline;
      i {
        height: 0.5em;
      }
    }
    .wos-label{
      font-size: $font-xs;
      font-weight: $semibold;
      color: var(--color-autochecked);
      font-style: oblique;
      margin: 0;
    }
    .brief-format {
        display:inline-block;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
        max-width: 20vw;

      // border: 1px solid red;
      // color: green;
      // max-width: 300px;
    }
    // .brief-format table tbody tr td p{
    //   display:inline-block;
    //   white-space: nowrap;
    //   overflow: hidden;
    //   text-overflow: ellipsis;
    //   max-width: 50ch;
    // }
  }
  th {
    text-align: center;
    vertical-align: middle;
    padding: 0.75em;
    font-size: $font-sm;
  }
  .circle {
    margin: auto !important;
  }
}
.circle.answered {
  background-color: var(--color-answered);
}
.circle.complete {
  background-color: var(--color-answered);
}
.circle.pending {
  background-color: var(--color-pending);
}
.circle.finalized {
  background-color: var(--blue-secondary);
}

.pagination-container {
  pagination {
    .pagination {
      margin: 0;
      background-color: var(--blue-primary);
    }
  }
}
.total-items {
  font-size: 0.9em;
  color: var(--gray-secondary);
  font-style: italic;
}



@media (max-width:1400px) {
  
  .table-body {
    td {
      .brief-format {
        max-width: 20vw;
      }
    }
  }
  }