@import "../../../assets/variables.scss";

h2 {
  text-align: center;
  margin: 1em;
  font-size: $font-lg;
}

.icon-go-back{
  height:0.8em
}
.nav-item{
  padding-top: 0;
  margin-bottom: 2em;
  text-transform: capitalize;
}

.go-back {
  font-weight: 600;
  color: #f1b83b;
  font-size: 1em;
}

.go-back:hover {
  color: #d59b1b;
}

.sub-header {
  margin: 1em 0;
  padding: 0;
  .model-link-container {
    padding: 10px;
    cursor: pointer;
    background-color: var(--gray-primary);
    border-radius: 0.3em;
    height: 3em;
    // width: 8em;
    margin-right: 2em;
    display: flex;
    i {
      height: 2em;
    }
    p {
      margin: 0;
      vertical-align: middle;
      line-height: 2em;
      padding: 0 0.5em;
    }
    hr {
      position: relative;
      background: var(--gray-tertiary);
      width: 2px;
      height: 2.9em;
      top: -10px;
      margin: 0 auto;
    }
  }
  .circle {
    margin: 0 1em;
  }
  .text-right {
    justify-content: flex-end;
  }
}

.table-header {
  tr {
    th {
      text-align: center;
      vertical-align: middle;
      padding: 0.75em;
      text-transform: uppercase;
      cursor: pointer;
      .header-row {
        display: flex;
        flex-direction: row;
        justify-content: center;
        .order-icon {
          margin-left: 1em;
        }
      }
    }
    th.active {
      background-color: var(--green-tertiary);
      color: var(--black);
    }
  }
}

.table-body {
  td {
    text-align: center;
    vertical-align: middle;
    padding: 0.75em;
  }
  th {
    text-align: center;
    vertical-align: middle;
    padding: 0.75em;
  }
  .circle {
    margin: auto !important;
  }
}
.circle.complete {
  background-color: var(--green-primary);
}
.circle.pending {
  background-color: var(--red-primary);
}

.pagination-container {
  pagination {
    .pagination {
      margin: 0;
      background-color: var(--blue-primary);
    }
  }
}
.total-items {
  font-size: 0.9em;
  color: var(--gray-secondary);
  font-style: italic;
}
