<div class="row justify-content-center dashboard-container">
    <div class="col col-2 col-programs crp-list-group" routerLinkActive="active-link"
        [routerLinkActiveOptions]="{exact: true}">

        <a class="nav-item nav-link" style="padding-bottom: 0;" [routerLinkActive]="['active']"
            routerLink="/crp/dashboard">Home</a>
        <ng-container *ngFor="let indicator of indicators; index as i">
            <a *ngIf="indicator.enable_crp" class="nav-item nav-link" [routerLinkActive]="['active']"
                routerLink="/crp/indicator/{{ indicator.name.toLowerCase()}}/{{ indicator.primary_field}}">
                {{indicator.name}}
            </a>
            <a *ngIf="!indicator.enable_crp" class="nav-item nav-link unavailable">
                {{indicator.name}}
            </a>
        </ng-container>
        <a *ngIf="!env.production" class="nav-item nav-link" (click)="logout()">
            Logout
        </a>
        <ngx-spinner [name]="spinner_name" [fullScreen]="false"></ngx-spinner>
    </div>
    <div class="col-10 col-progress">
        <router-outlet></router-outlet>
    </div>
    <ngx-spinner [fullScreen]="false" [name]="spinner_name" bdColor="rgba(51,51,51,0.3)" type="ball-clip-rotate"
        size="medium">
    </ngx-spinner>
</div>