@import "../../assets/variables.scss";
.dashboard-container {
    .crp-list-group {
        background: var(--gray-primary);
        border-radius: 0.4em;
        align-self: baseline;
        max-width: 200px;
        a {
            font-weight: $bold;
            color: var(--black);
            text-decoration: none;
            background-color: transparent;
            cursor: pointer;
        }
        a:hover{
          color: var(--green-primary);
        }
        a.active {
            color: var(--green-primary);
        }
        a.unavailable{
          cursor: default;
        }
    }
    .programs-form {
        margin: 0 $size-lg;
        .custom-control-input:checked ~ .custom-control-label::before {
            color: var(--white);
            border-color: var(--yellow-primary);
            background-color: var(--yellow-primary);
            border-radius: 50%;
        }
    }

    .unavailable{
        color: var(--gray) !important;
        cursor: none;
    }
}
