@import "../../assets/variables.scss";
.dashboard-container {
    .crp-list-group {
        background: white;
        padding: 0;
        align-self: baseline;
        max-width: 200px;
        a {
            color: var(--black);
        font-weight: $semibold;
        text-decoration: none;
        background-color: transparent;
        cursor: pointer;
        transition: all .3s ease-out;
        box-sizing: border-box;
        &:hover{
            background-color: var(--white-gray);
        }
        }

        a.active {
            // color: var(--blue-tertiary);
            font-weight: $bold;
            background-color: var(--white-gray);
          }
        a.unavailable{
          cursor: default;
          &:hover{
            background-color: transparent;
          }
        }
    }
    .programs-form {
        margin: 0 $size-lg;
        .custom-control-input:checked ~ .custom-control-label::before {
            color: var(--white);
            border-color: var(--yellow-primary);
            background-color: var(--yellow-primary);
            border-radius: 50%;
        }
    }

    .unavailable{
        color: var(--gray) !important;
        cursor: none;
    }
}

.crp-closed {
    width: 100%;
    padding: 2em;
    height: auto;
    display: flex;
    flex-direction: column;
    gap: 1em;
    align-items: center;
    justify-content: center;
    border-radius: 10px;
    h2 {
        font-weight: bold;
    }
    h2, h3, h4, p {
        text-align: center;
    }
    background-color: whitesmoke;
}
