<div class="comments-container">
    <i class="icon-close"></i>
    <h2>COMMENTS ON {{dataFromItem.display_name}}</h2>

    <div class="comment-container">
        <ng-container *ngFor="let comment of commentsByCol">
            <div class="comment-body" *ngIf="!comment.is_deleted">
                <div class="comment-title">
                    <div>
                        <span>ADDED BY {{comment.user.username}} </span>
                        <p>On {{comment.createdAt}}</p>
                    </div>
                    <div>
                        <i *ngIf="!comment.approved" (click)="updateComment('approved', comment)"
                            class="icon-star-gray"></i>
                        <i *ngIf="comment.approved" (click)="updateComment('approved', comment)" class="icon-star-gold"></i>
                        <i *ngIf="comment.user.id === currentUser.id" (click)="updateComment('is_deleted', comment)" class="icon-remove"></i>
                    </div>
                </div>
                <hr style="margin: 0;">
                <p class="comment">
                    {{comment.detail}}
                </p>
            </div>
        </ng-container>

    </div>
    <div class="add-comment-container">
        <h2>ADD COMMENT</h2>
        <form [formGroup]="commentGroup">
            <textarea cols="30" rows="3" formControlName="comment"></textarea>
        </form>
        <button type="button" class="btn btn-primary" (click)="addComment()">ADD</button>
    </div>
    <ngx-spinner [fullScreen]="false" [name]="spinner2" bdColor="rgba(51,51,51,0.3)" type="ball-clip-rotate"
        size="medium"></ngx-spinner>
</div>