<!-- <div class=" detail-header-container">
    <p *ngIf="detailedData" class="indicator-item-name">
        {{detailedData[0].crp_name}} / {{params.type}} / QA-{{params.indicatorId}}
    </p>
    <div>
        <div *ngIf="detailedData && detailedData[0].editable_link">
            <a [href]="detailedData[0].editable_link" target="_blank">Public link</a>
        </div>
    </div>
</div> -->



<a class="nav-item nav-link" [routerLinkActive]="['active']" routerLink="../..">
    <i class=icon-go-back></i> {{currentType}} List
</a>
<div class="row criteria-container">
    <div *ngIf="!criteria_loading">
        <h2>QUALITY ASSESSMENT CRITERIA</h2>
        <div style="padding-left: 2em;" [innerHTML]="criteriaData.qa_criteria | markdown"></div>
    </div>
    <div style="margin:auto;">
        <span *ngIf="criteria_loading" class="spinner-border spinner-border-sm mr-1"></span>
    </div>
</div>

<div class="row">
    <div class="col-sm">
        <div class="col data-container">

            <div [ngClass]="{'approved-no-comment': field.approved_no_comment == 1} " class="data-row"
                *ngFor="let field of detailedData; let i = index">
                <div class="col">
                    <!-- <h2>{{field.display_name}}</h2>
                    <div *ngIf="field.value" [innerHTML]="field.value">
                    </div>
                    <p *ngIf="!field.value" class="empty-value">Empty Value</p> -->

                    <h2>{{field.display_name}}</h2>

                    <div *ngIf="field.meta_description">
                        <i [tooltip]="popTemplate" container="body" placement="top" class="icon-pdf"
                            style="height: 2em;"></i>
                        <ng-template #popTemplate>
                            <div [innerHtml]="field.meta_description"></div>
                        </ng-template>

                    </div>
                </div>

                <!-- comments -->
                <div #commentsElem *ngIf="validateCommentAvility(field,true)"
                    (click)="showComments(i, field, $event); comment.updateData(field,params)"
                    class="activate-messages-container {{field.replies_count == '0' ?  '':'active'}}">

                    <i *ngIf="!field.loading" class="icon-message"></i>
                    <span *ngIf="field.loading" class="spinner-border spinner-border-sm mr-1"></span>

                    <div *ngIf="field.replies_count != '0'" class="replies-count">
                        {{field.replies_count}}
                    </div>
                </div>

                <div *ngIf="!validateCommentAvility(field)" class="activate-messages-container">
                    <i *ngIf="!field.loading" class="icon-message-inactive"></i>
                    <span *ngIf="field.loading" class="spinner-border spinner-border-sm mr-1"></span>

                    <div *ngIf="field.replies_count != '0'" class="replies-count">
                        {{field.replies_count}}
                    </div>
                </div>

                <!-- <div #commentsElem *ngIf="validateCommentAvility(field,true)"
                    (click)="showComments(i, field); comment.updateData(field,params)"
                    class="activate-messages-container {{field.replies_count == '0' ?  '':'active'}}">
                    <i class="icon-message"></i>
                    <div *ngIf="field.replies_count != '0'" class="replies-count">
                        {{field.replies_count}}
                    </div>
                </div>
                <div *ngIf="!validateCommentAvility(field)" class="activate-messages-container">
                    <i class="icon-message-inactive"></i>
                </div> -->
            </div>

        </div>
        <div *ngIf="detailedData" class="col data-container">
            <div class="data-row  gnral-commnts">
                <h2>General comments:</h2>
                <p> {{detailedData[0].general_comment}} </p>
            </div>
        </div>
        <ngx-spinner [fullScreen]="false" [name]="spinner_name" bdColor="rgba(51,51,51,0.3)" type="ball-clip-rotate"
            size="medium"></ngx-spinner>

    </div>
    <div [ngClass]="{'hide' : !activeCommentArr[fieldIndex] }" class="col-sm-4 comments-container">
        <app-comment #comment (parentFun)="showComments(fieldIndex, detailedData[fieldIndex])"></app-comment>
    </div>
</div>