<a class="nav-item nav-link go-back" [routerLinkActive]="['active']" routerLink="../..">
    <i class=icon-go-back></i> {{currentType}} List
</a>
<div class="row criteria-container">
    <div *ngIf="!criteria_loading">
        <h2>QUALITY ASSESSMENT CRITERIA</h2>
        <div style="padding-left: 2em;" [innerHTML]="criteriaData.qa_criteria | markdown"></div>
    </div>
    <div style="margin:auto;">
        <span *ngIf="criteria_loading" class="spinner-border spinner-border-sm mr-1"></span>
    </div>
</div>

<div *ngIf="detailedData && detailedData[0] " class="row detail-header-container">
    <p class="indicator-item-name">
        {{detailedData[0].crp_acronym}} / {{currentType}} /
        QA-{{ params.type.charAt(0) }}{{ params.type.charAt(1).toUpperCase() }}-{{params.indicatorId}}
    </p>
    <div class="col">
        <p>Assessment Status: <span
                class="text-{{(gnralInfo.status === statusHandler.Complete) ? 'success':'danger'}}">{{(gnralInfo.status === statusHandler.Complete) ? "Completed":"Pending"}}</span>
        </p>
        <p>Response Status: <span
                class="text-{{(gnralInfo.response_status === statusHandler.Complete) ? 'success':'danger'}}">{{(gnralInfo.response_status === statusHandler.Complete) ? "Completed":"Pending"}}</span>
        </p>

    </div>

    <div *ngIf="detailedData[0]">

        <div style="margin-right: 1em;" tooltip="{{tooltips.download_excel}}" container="body" placement="top" *ngIf="detailedData"
            (click)="getCommentsExcel(detailedData[0])" class="btn btn-primary file-button">
            <i class="icon-download-excel"></i>
        </div>
        <a *ngIf="detailedData[0].editable_link" [href]="detailedData[0].editable_link" target="_blank">
            <div tooltip="{{tooltips.editable_link}}" container="body" placement="top"
                class="btn btn-primary file-button">
                <i class="icon-public-link"></i>
            </div>
        </a>
    </div>
</div>

<div #containerElement class="row">
    <div [ngClass]="{'col-sm-12' : !activeCommentArr[fieldIndex], 'col-sm-8':  activeCommentArr[fieldIndex]}">
        <div class="col data-container">

            <div class="data-row" *ngFor="let field of detailedData; let i = index">
                <div class="col">
                    <div class="row" style="padding: 0;">
                        <h2>{{detailedData[i].display_name}}</h2>
                        <div *ngIf="field.meta_description">
                            <i [tooltip]="popTemplate" container="body" placement="top" class="icon-pdf"
                                style="height: 1.5em;"></i>
                            <ng-template #popTemplate>
                                <div [innerHtml]="field.meta_description"></div>
                            </ng-template>

                            <div [ngClass]="{'approved-no-comment': field.approved_no_comment == 1} "
                                style="display:none">
                                Approved without comments
                            </div>

                        </div>
                    </div>


                    <!-- data value -->
                    <!-- <div *ngIf="detailedData[i].value && (detailedData[i].col_name !== 'evidence_link' && detailedData[i].col_name !== 'outcome_description' && detailedData[i].col_name !== 'OICR'  )"
                        [innerHTML]="detailedData[i].value | markdown">
                    </div>
                    <div *ngIf="detailedData[i].value && (detailedData[i].col_name === 'outcome_description' )"
                        [innerHTML]="detailedData[i].value">
                    </div>
                    <div *ngIf="detailedData[i].value && (detailedData[i].col_name === 'OICR' )"
                        [innerHTML]="detailedData[i].value">
                    </div>
                    <p *ngIf="detailedData[i].value &&  detailedData[i].col_name === 'evidence_link' ">
                        {{detailedData[i].value}}</p> -->

                    <!-- data value -->
                    <div *ngIf="detailedData[i].value && (detailedData[i].col_name !== 'evidence_link' && detailedData[i].col_name !== 'outcome_description' && detailedData[i].col_name !== 'OICR'  )"
                        [innerHTML]="detailedData[i].value | markdown">
                    </div>
                    <div *ngIf="detailedData[i].value && (detailedData[i].col_name === 'outcome_description' || detailedData[i].col_name === 'OICR' || detailedData[i].col_name === 'evidence_link'  )"
                        [innerHTML]="detailedData[i].value">
                    </div>
                    <!-- no data -->
                    <p *ngIf="detailedData[i].value === null" class="empty-value">Data not provided.</p>

                </div>

                <!-- comments -->
                <div #commentsElem style="cursor: pointer;"
                    *ngIf="validateCommentAvility(field,true) && field.approved_no_comment == null "
                    (click)="showComments(i, field, $event); comment.updateData(field,params)"
                    class="activate-messages-container {{field.replies_count == '0' ?  '':'active'}}">
                    <i *ngIf="!field.loading" class="icon-message"></i>
                    <span *ngIf="field.loading" class="spinner-border spinner-border-sm mr-1"></span>

                    <div [tooltip]="commentsTooltip" container="body" placement="top" *ngIf="field.replies_count != '0'"
                        class="replies-count {{field.replies_count == field.comments_replies_count ? 'accepted':'rejected'}}">
                        {{field.comments_replies_count}}/{{field.replies_count}}
                    </div>
                    <ng-template #commentsTooltip>
                        <div>
                            <p>Accepted comments: <strong>{{field.crp_accepted}}</strong> </p>
                            <p>Rejected comments: <strong>{{field.crp_rejected}}</strong> </p>
                            <p>Total: <strong>{{field.replies_count}}</strong> </p>
                        </div>
                    </ng-template>
                </div>

                <div *ngIf="!validateCommentAvility(field,null) || field.approved_no_comment"
                    class="activate-messages-container">
                    <i *ngIf="!field.loading" class="icon-message-inactive"></i>
                    <span *ngIf="field.loading" class="spinner-border spinner-border-sm mr-1"></span>


                </div>

            </div>

        </div>
        <div class="data-row gnral-commnts">
            <h2>General comments:</h2>
            <div *ngIf="detailedData && detailedData[0].general_comment" class="col data-container">
                <!-- <i style="height: 2em;" *ngIf="gnralInfo.user.id === currentUser.id "
                    (click)="updateCommentReply('is_deleted', reply)" class="icon-remove"></i> -->
                <p> {{detailedData[0].general_comment}} </p>
                <p *ngIf="gnralInfo.general_comment"> <strong>Comment by:</strong>
                    {{gnralInfo.general_comment_user}} <strong>at:</strong>
                    {{gnralInfo.general_comment_updatedAt | date: 'long'}}</p>

                <div class="general-reply-container text-area" *ngFor="let reply of general_comment_reply;">
                    <p>{{reply.detail}}</p>
                    <p><strong>Replied by</strong>: {{reply.user.username}} </p>
                    <!-- <p>{{getCommentReplies()}}</p> -->
                </div>
                <div *ngIf="general_comment_reply && general_comment_reply.length == 0">
                    <form [formGroup]="generalCommentGroup" style="display: flex; margin-bottom: 2em;">
                        <textarea class="text-area " maxlength="{{totalChar}}"
                            formControlName="general_comment"></textarea>
                    </form>
                    <span class="wordCount">{{ getWordCount(formData.general_comment.value) }} / 1000 words</span>
                    <div class="bton-container">
                        <button type="button"
                            class="btn btn-{{formData.general_comment.value ? 'green':'red'}}-secondary"
                            [disabled]="!generalCommentGroup.valid || gnralInfo.response_status === statusHandler.Complete"
                            (click)="addGeneralComment( gnralInfo)">REPLY</button>
                    </div>
                </div>
            </div>
            <div *ngIf="detailedData && ( !detailedData[0].general_comment || detailedData[0].general_comment == '')"
                class="col data-container" style="    min-height: auto;">
                No comments were provided.
            </div>
        </div>
        <ngx-spinner [fullScreen]="false" [name]="spinner1" bdColor="rgba(51,51,51,0.3)" type="ball-clip-rotate"
            size="medium"></ngx-spinner>

    </div>
    <div [ngClass]="{'hide' : !activeCommentArr[fieldIndex] }" [style.top.px]="currentY"
        class="col-sm-4 comments-container">
        <app-comment #comment (parentFun)="showComments(fieldIndex, detailedData[fieldIndex], null)"
            (updateNumCommnts)="updateNumCommnts($event,detailedData[fieldIndex])"></app-comment>
    </div>
</div>