@import "../../../assets/variables.scss";

.indicator-item-name {
  font-size: $font-md;
  text-transform: capitalize;
}
.hide {
  display: none;
}
.detail-header-container {
  display: flex;
  justify-content: space-between;
  margin: auto 2em;
  .buttons {
    width: 10vw;
    display: flex;
    justify-content: space-between;
  }
}
.btn-mis {
  i{
    max-height: 30px;
  }
}
.icon-go-back {
  height: 0.8em;
}
.nav-item {
  padding-top: 0;
  margin-bottom: 2em;
  text-transform: capitalize;
}

.go-back {
  font-weight: 600;
  color: #f1b83b;
  font-size: 1em;
}

.go-back:hover {
  color: #d59b1b;
}

.criteria-container {
  display: flex;
  -webkit-box-pack: justify;
  margin: auto 2em;
  ul {
    margin-left: 2em;
  }
  .spinner-border.spinner-border-sm {
    height: 3em;
    width: 3em;
  }
}
.row {
  padding: 20px;
  .data-container {
    border: 1px solid var(--gray-primary);
    padding: 20px;
    margin: 0 0.5em 2em;
    min-height: 200px;
    .text-area {
      border: 1px solid var(--gray-primary);
      padding: 0.5em;
      width: 98%;
      margin: auto;
    }
    .approved-no-comment {
      background: var(--color-agree);
      border-radius: 0.3em;
      font-size: 0.5em;
      padding: 2px 5px;
      border: var(--green-primary) 2px solid;
      display: block !important;
      float: right;
      font-weight: 600;
    }
    .gnral-commnts.data-row {
      flex-direction: column;
      p {
        font-style: italic;
      }
      textarea {
        border: 1px solid var(--gray-primary);
        padding: 0.5em;
        width: 100%;
      }
      .bton-container {
        margin: 1em 0;
        display: flex;
        justify-content: flex-end;
        button:last-child {
          margin-right: 0;
        }
        button {
          margin: 0 1em;
          // width: 10%;
          .green-secondary {
            background-color: var(--green-secondary);
          }
          .green-secondary:disabled {
            background-color: var(--green-secondary);
          }
        }
      }
    }
    .data-row {
      margin: 1em 0;
      flex-direction: row;
      display: flex;
      word-wrap: break-word;
      .empty-value {
        font-style: italic;
      }
      h2 {
        font-size: $font-md;
        text-transform: capitalize;
      }
      p {
        font-size: $primary-fs;
        margin: 0.5em 0;
      }
      .activate-messages-container.active {
        background-color: var(--yellow-primary);
        i {
          content: url("~/assets/icons/comment_icon_inactive.svg");
        }
        .replies-count {
          // background-color: var(--red-primary);
          color: var(--white);
          border-radius: 50%;
          // padding: 0.3em;
          // height: 1.5em;
          // width: 1.5em;
          position: absolute;
          text-align: center;
          font-size: $font-sm;
          margin-left: $size-md;
          margin-top: $size-25;
        }
        .replies-count.accepted {
          background-color: var(--green-secondary);
        }
        .replies-count.rejected {
          background-color: var(--red-secondary);
        }
      }

      .activate-messages-container {

        border-radius: 50%;
        height: 3em;
        width: 3em;
        background-color: var(--white);
        border: 1px solid var(--gray-primary);
        display: flex;
        justify-content: center;
        margin-right: -2.75em;
        i {
          height: 2em;
          margin: auto;
        }
      }
    }
  }
}
