<a class="nav-item nav-link go-back" [routerLinkActive]="['active']"
    routerLink="/indicator/{{ params.type}}/{{ params.primary_column}}">
    <i class=icon-go-back></i> {{currentType}} List
</a>
<div class="row criteria-container">
    <div *ngIf="!criteria_loading">
        <h2>QUALITY ASSESSMENT CRITERIA</h2>
        <div style="padding-left: 2em;" [innerHTML]="criteriaData.qa_criteria | markdown"></div>
    </div>
    <div style="margin:auto;">
        <span *ngIf="criteria_loading" class="spinner-border spinner-border-sm mr-1"></span>
    </div>
</div>

<div *ngIf="detailedData && detailedData[0] " class="row detail-header-container">
    <div>
        <p class="indicator-item-name">
            {{detailedData[0].crp_acronym}} / {{currentType}} /
            QA-{{ params.type.charAt(0) }}{{ params.type.charAt(1).toUpperCase() }}-{{params.indicatorId}}
        </p>
        <div *ngIf="gnralInfo.evaluation_status  && gnralInfo.evaluation_status !== 'New'"
            class="evaluation-status {{ gnralInfo.evaluation_status ? gnralInfo.evaluation_status.toLowerCase():'' }}">
            {{gnralInfo.evaluation_status}}
        </div>
    </div>

    <p *ngIf="currentUser.hasOwnProperty('cycle')">Status:
        <span
            [ngClass]=" {'text-success': gnralInfo.status === statusHandler.Complete, 'text-danger':gnralInfo.status === statusHandler.Pending, 'text-info': gnralInfo.status === statusHandler.Finalized} ">
            {{parseGeneralStatus(gnralInfo.status)}}
        </span>
    </p>
    <p *ngIf="!currentUser.hasOwnProperty('cycle') && currentUser.cycle_ended" class=" text-danger"
        style="text-transform: initial; text-align: center;">
        The quality assessment process has ended.
    </p>

    <div *ngIf="detailedData[0]">
        <a *ngIf="detailedData[0].public_link" [href]="detailedData[0].public_link" target="_blank">
            <div tooltip="{{tooltips.public_link}}" container="body" placement="top"
                class="btn btn-primary file-button">
                <i class="icon-public-link"></i>
            </div>
        </a>

        <div tooltip="{{tooltips.download_excel}}" container="body" placement="top" *ngIf="detailedData"
            (click)="getCommentsExcel(detailedData[0])" class="btn btn-primary file-button">
            <i class="icon-download-excel"></i>
        </div>
    </div>
</div>


<form #containerElement [formGroup]="tickGroup">
    <div class="row detail-container">
        <!--  class="col-sm" -->
        <div [ngClass]="{'col-sm-12' : !activeCommentArr[fieldIndex], 'col-sm-8':  activeCommentArr[fieldIndex]}">
            <div *ngIf="currentUser.hasOwnProperty('cycle')">
                <div class="col data-container">
                    <div class="select-all"
                        *ngIf="detailedData && (currentUser.cycle.cycle_stage == '1' || gnralInfo.evaluation_status === 'Added')">
                        <button type="button" (click)="onChangeSelectAll(approveAllitems)"
                            class="btn btn-{{ approveAllitems ? 'primary' : 'danger'}}">Approve/Dissaprove all items to
                            be
                            assessed.</button>
                    </div>
                    <ng-container formArrayName="tick" *ngFor="let summon of formTickData.controls; let i = index">

                        <ng-container *ngIf="detailedData" [formGroupName]="i">
                            <div class="data-row">
                                <div class="col">
                                    <!-- checkbox -->
                                    <div class="row field">
                                        <div class="field-title">
                                            <h2 *ngIf="validateCommentAvility(detailedData[i]) && detailedData[i].replies_count == '0' || (summon.value.isChecked && detailedData[i].enable_comments) && gnralInfo.status !== statusHandler.Complete" [innerHTML]="detailedData[i].display_name | markdown"></h2>
     
    
                                            <h2 *ngIf="!validateCommentAvility(detailedData[i]) || detailedData[i].replies_count != '0' && !summon.value.isChecked "
                                                [innerHTML]="detailedData[i].display_name | markdown">
                                            </h2>
                                            <!-- <h2 *ngIf="!validateCommentAvility(detailedData[i]) || detailedData[i].replies_count != '0' && !summon.value.isChecked ">
                                                {{detailedData[i].display_name}}</h2> -->
    
                                            <div *ngIf="detailedData[i].meta_description">
                                                <i [tooltip]="popTemplate" container="body" placement="top" class="icon-pdf"
                                                    style="height: 2em;"></i>
                                                <ng-template #popTemplate>
                                                    <div [innerHtml]="detailedData[i].meta_description"></div>
                                                </ng-template>
                                            </div>
                                        </div>
                                            <input
                                            *ngIf="validateCommentAvility(detailedData[i]) && detailedData[i].replies_count == '0' || (summon.value.isChecked && detailedData[i].enable_comments) "
                                            (change)="onTickChange($event,detailedData[i])"
                                            [value]="detailedData[i].field_id" formControlName="isChecked"
                                            type="checkbox" class="custom-control-input"
                                            id="field-{{detailedData[i].field_id}}">
                                        <!-- [disabled]="gnralInfo.status === statusHandler.Finalized" -->
                                        <label
                                            *ngIf="validateCommentAvility(detailedData[i]) && detailedData[i].replies_count == '0' || (summon.value.isChecked && detailedData[i].enable_comments) && gnralInfo.status !== statusHandler.Complete"
                                            class="custom-control-label" for="field-{{detailedData[i].field_id}}">
                                        </label>
                                    </div>

                                    <!-- data value -->
                                    <div *ngIf="detailedData[i].value && (detailedData[i].col_name !== 'evidence_link' && detailedData[i].col_name !== 'outcome_description' && detailedData[i].col_name !== 'OICR'  )"
                                        [innerHTML]="detailedData[i].value | markdown">
                                    </div>
                                    <div *ngIf="detailedData[i].value && (detailedData[i].col_name === 'outcome_description' || detailedData[i].col_name === 'OICR' || detailedData[i].col_name === 'evidence_link'  )"
                                        [innerHTML]="detailedData[i].value">
                                    </div>
                                    <!-- <div *ngIf="detailedData[i].value && (detailedData[i].col_name === 'OICR' )"
                                        [innerHTML]="detailedData[i].value">
                                    </div> -->
                                    <!-- <p *ngIf="detailedData[i].value &&  detailedData[i].col_name === 'evidence_link' ">
                                        {{detailedData[i].value}}</p> -->
                                    <!-- no data -->
                                    <p *ngIf="detailedData[i].value === null" class="empty-value">Data not provided.</p>
                                    <!-- <p *ngIf="!detailedData[i].value" class="empty-value">Data not provided.</p> -->

                                </div>

                                <!-- comments -->
                                <div #commentsElem style="cursor: pointer;"
                                    *ngIf="validateCommentAvility(detailedData[i],true) && !summon.value.isChecked"
                                    (click)="showComments(i, detailedData[i], $event); comment.updateData(detailedData[i],params)"
                                    class="activate-messages-container {{detailedData[i].replies_count == '0' ?  '':'active'}}">

                                    <i *ngIf="!detailedData[i].loading" class="icon-message"></i>
                                    <span *ngIf="detailedData[i].loading"
                                        class="spinner-border spinner-border-sm mr-1"></span>

                                    <div *ngIf="detailedData[i].replies_count != '0'" class="replies-count">
                                        {{detailedData[i].replies_count}}
                                    </div>
                                </div>

                                <div *ngIf="!validateCommentAvility(detailedData[i]) || summon.value.isChecked"
                                    class="activate-messages-container">
                                    <i *ngIf="!detailedData[i].loading" class="icon-message-inactive"></i>
                                    <span *ngIf="detailedData[i].loading"
                                        class="spinner-border spinner-border-sm mr-1"></span>

                                    <div *ngIf="detailedData[i].replies_count != '0'" class="replies-count">
                                        {{detailedData[i].replies_count}}
                                    </div>
                                </div>
                            </div>

                        </ng-container>
                    </ng-container>

                </div>
                <div *ngIf="detailedData" class="col data-container">
                    <div class="data-row  gnral-commnts">
                        <h2>General comment:</h2>
                        <p class="informative-text">
                            Please take into consideration that this is going to be shown to the CRP.
                        </p>
                        <hr style="margin: 0;" class="ng-star-inserted">
                        <form [formGroup]="generalCommentGroup">
                            <textarea *ngIf="!general_comment_reply && gnralInfo.status !== statusHandler.Finalized"
                                [readonly]="gnralInfo.status === statusHandler.Complete" maxlength="{{totalChar}}"
                                formControlName="general_comment"></textarea>
                            <p *ngIf="general_comment_reply">{{formData.general_comment.value}}</p>
                        </form>
                        <p *ngIf="gnralInfo.general_comment"> <strong>Comment by:</strong>
                            {{gnralInfo.general_comment_user}} <strong>at:</strong>
                            {{gnralInfo.general_comment_updatedAt | date: 'long'}}</p>
                        <span *ngIf="!general_comment_reply && gnralInfo.status !== statusHandler.Finalized"
                            class="wordCount">{{ getWordCount(formData.general_comment.value) }} / 1000 words</span>
                        <div class="general-reply-container text-area" *ngFor="let reply of general_comment_reply;">
                            <p>{{reply.detail}}</p>
                            <p>Replied by: {{reply.user.username}} </p>
                        </div>
                        <div *ngIf="!general_comment_reply && gnralInfo.status !== statusHandler.Finalized"
                            class="bton-container">
                            <button type="button"
                                class="btn btn-{{formData.general_comment.value ? 'green':'red'}}-secondary"
                                [disabled]="!generalCommentGroup.valid || gnralInfo.status === statusHandler.Complete"
                                (click)="addGeneralComment('',detailedData)">SAVE</button>
                        </div>

                    </div>
                </div>
                <div class="row" *ngIf="currentUser.cycle.cycle_stage != '1'" style="margin: 1em;">
                    <div *ngIf="gnralInfo.status !== statusHandler.Finalized && gnralInfo.evaluation_status !== 'Added'"
                        class="bton-container">
                        <button type="button" class="btn btn-green-secondary"
                            [disabled]="gnralInfo.status === statusHandler.Complete"
                            (click)="updateEvaluation('complete_eval',detailedData)">COMPLETE ASSESSMENT</button>
                    </div>
                    <div *ngIf="gnralInfo.status !== statusHandler.Finalized" class="bton-container"
                        style="margin-left: 1em;">
                        <button type="button" class="btn btn-info"
                            [disabled]="gnralInfo.status === statusHandler.Finalized"
                            (click)="updateEvaluation('finalized_eval',detailedData)">CLOSE ASSESSMENT</button>
                    </div>
                    <div *ngIf="gnralInfo.status === statusHandler.Finalized" class="bton-container"
                        style="margin-left: 1em;">
                        <button type="button" class="btn btn-outline-info"
                            (click)="updateEvaluation('pending_eval',detailedData)">OPEN ASSESSMENT</button>
                    </div>

                </div>

            </div>
            <div *ngIf="(!currentUser.hasOwnProperty('cycle') && currentUser.cycle_ended)">
                <div class="col data-container">

                    <ng-container formArrayName="tick" *ngFor="let summon of formTickData.controls; let i = index">

                        <ng-container *ngIf="detailedData" [formGroupName]="i">
                            <div class="data-row">
                                <div class="col">
                                    <div class="row" style="padding: 0;">
                                        <h2 [innerHTML]="detailedData[i].display_name | markdown"></h2>
                                        <div>
                                            <i *ngIf="detailedData[i].meta_description" [tooltip]="popTemplate"
                                                container="body" placement="top" class="icon-pdf"
                                                style="height: 1.5em;"></i>
                                            <ng-template #popTemplate>
                                                <div [innerHtml]="detailedData[i].meta_description"></div>
                                            </ng-template>
                                            <div [ngClass]="{'approved-no-comment': detailedData[i].approved_no_comment == 1} "
                                                style="display:none">
                                                Approved without comments
                                            </div>

                                        </div>
                                    </div>

                                    <!-- data value -->
                                    <div *ngIf="detailedData[i].value && (detailedData[i].col_name !== 'evidence_link' && detailedData[i].col_name !== 'outcome_description' && detailedData[i].col_name !== 'OICR'  )"
                                        [innerHTML]="detailedData[i].value | markdown">
                                    </div>
                                    <div *ngIf="detailedData[i].value && (detailedData[i].col_name === 'outcome_description' || detailedData[i].col_name === 'OICR' || detailedData[i].col_name === 'evidence_link'  )"
                                        [innerHTML]="detailedData[i].value">
                                    </div>
                                    <!-- no data -->
                                    <p *ngIf="detailedData[i].value === null" class="empty-value">Data not provided.</p>

                                </div>

                                <!-- comments -->
                                <div #commentsElem style="cursor: pointer;"
                                    *ngIf="detailedData[i].replies_count != '0'"
                                    (click)="showComments(i, detailedData[i], $event); comment.updateData(detailedData[i],params)"
                                    class="activate-messages-container {{detailedData[i].replies_count == '0' ?  '':'active'}}">

                                    <i *ngIf="!detailedData[i].loading" class="icon-message"></i>
                                    <span *ngIf="detailedData[i].loading"
                                        class="spinner-border spinner-border-sm mr-1"></span>

                                    <div *ngIf="detailedData[i].replies_count != '0'" class="replies-count">
                                        {{detailedData[i].replies_count}}
                                    </div>
                                </div>
                            </div>

                        </ng-container>
                    </ng-container>

                </div>

                <div *ngIf="detailedData && gnralInfo.general_comment" class="col data-container">
                    <div class="data-row  gnral-commnts">
                        <h2>General comment:</h2>
                        <p class="informative-text">
                            Please take into consideration that this is going to be shown to the CRP.
                        </p>
                        <hr style="margin: 0;" class="ng-star-inserted">
                        <p *ngIf="gnralInfo.general_comment"> <strong>Comment by:</strong>
                            {{gnralInfo.general_comment_user}} <strong>at:</strong>
                            {{gnralInfo.general_comment_updatedAt | date: 'long'}}</p>
                        <div class="general-reply-container text-area" *ngFor="let reply of general_comment_reply;">
                            <p>{{reply.detail}}</p>
                            <p>Replied by: {{reply.user.username}} </p>
                        </div>

                    </div>
                </div>
            </div>
            <ngx-spinner [fullScreen]="false" [name]="spinner1" bdColor="rgba(51,51,51,0.3)" type="ball-clip-rotate"
                size="medium">
            </ngx-spinner>
        </div>

        <div [ngClass]="{'hide' : !activeCommentArr[fieldIndex] }" [style.top.px]="currentY"
            class="col-sm-4 comments-container">
            <app-comment #comment
                (parentFun)="showComments(fieldIndex, detailedData[fieldIndex]); validateUpdateEvaluation()"
                (updateNumCommnts)="updateNumCommnts($event,detailedData[fieldIndex])"></app-comment>
        </div>

    </div>


</form>