<div class="row detail-header-container">
    <p *ngIf="detailedData" class="indicator-item-name">
        {{detailedData[0].crp_name}} / {{params.type}} / QA-{{params.indicatorId}}
    </p>
    <div>
        <div *ngIf="detailedData && detailedData[0].public_link">
            <!-- <a (click)="goToLink(detailedData[0].public_link)">{{params.type}} public link</a> -->
            <a [href]="detailedData[0].public_link" target="_blank">Public link</a>
        </div>
        <!-- <div *ngIf="detailedData && !detailedData[0].public_link">
           <p>{{params.type}} public link</p> 
        </div> -->
    </div>
</div>

<div class="row detail-container">
    <div class="col-sm">
        <div class="col data-container">
            <ng-container *ngFor="let field of detailedData; let i = index">
                <div class="data-row">
                    <div class="col">
                        <h2>{{field.display_name}}</h2>
                        <!-- <p *ngIf="field.value">{{field.value}}</p> -->
                        <div *ngIf="field.value" [innerHTML]="field.value">
                        </div>
                        <p *ngIf="!field.value" class="empty-value">Empty Value</p>
                    </div>


                    <div #commentsElem *ngIf="validateCommentAvility(field,true)"
                        (click)="showComments(i, field); comment.updateData(field,params)"
                        class="activate-messages-container {{field.replies_count == '0' ?  '':'active'}}">
                        <i class="icon-message"></i>
                        <div *ngIf="field.replies_count != '0'" class="replies-count">
                            {{field.replies_count}}
                        </div>
                    </div>
                    <div *ngIf="!validateCommentAvility(field)" class="activate-messages-container">
                        <i class="icon-message-inactive"></i>
                    </div>
                </div>
            </ng-container>



        </div>
        <div *ngIf="detailedData" class="col data-container">
            <div class="data-row  gnral-commnts">
                <h2>General comments:</h2>
                <p class="informative-text">
                    Please take into consideration that this comments are going to be shown to the CRP.
                </p>
                <form [formGroup]="generalCommentGroup">
                    <textarea cols="30" rows="5" formControlName="general_comment"></textarea>
                </form>
                <div class="bton-container">
                    <button type="button" class="btn btn-green-secondary"
                        [disabled]="!generalCommentGroup.valid || gnralInfo.status === statusHandler.Complete"
                        (click)="updateEvaluation('general_comment', detailedData)">SAVE</button>
                    <button type="button" (click)="updateEvaluation('status', detailedData)"
                        class="btn btn-{{(gnralInfo.status === statusHandler.Complete) ? 'danger':'primary'}}">{{(gnralInfo.status === statusHandler.Complete) ? "REOPEN":"COMPLETE"}}</button>
                </div>
            </div>
        </div>
        <ngx-spinner [fullScreen]="false" [name]="spinner1" bdColor="rgba(51,51,51,0.3)" type="ball-clip-rotate"
            size="medium"></ngx-spinner>
    </div>
    <!-- [style.padding-top.px]="currentY" -->
    <div [ngClass]="{'hide' : !activeCommentArr[fieldIndex] }" [style.padding-top.px]="currentY"
        class="col-sm-4 comments-container">
        <app-comment #comment (parentFun)="showComments(fieldIndex, detailedData[fieldIndex])"
            (updateNumCommnts)="updateNumCommnts($event,detailedData[fieldIndex])"></app-comment>
    </div>
</div>