@import "../../../assets/variables.scss";

.data-header {
  display: flex;
  justify-content: space-between;
  margin: auto 1em;
  .download-link {
    cursor: pointer;
  }
}

.field {
  display: flex;
  width: 100%;
  justify-content: space-between;
  .field-title{
    display: flex;
  }
  .field-checkbox{
    display: flex;
  }
}

.check-container {
  margin-left: 1em;
  height: 3em;
  width: 3em;
  display: flex;
  justify-content: center;
  align-items: center;
  .check-area{
    width: auto;
    height: auto;
  }
}

.custom-control-label {
 
  // display: grid;
  // place-items: center;
  // width: 50px;
  // height: 50px;
  // background-color: #fff;
  // overflow: hidden;
  width: 24px;
  height: 24px;
}

.comments-container {
  position: relative;
}
.custom-control-label::before {
  position: absolute;
  top: 0;
  left: 0;
  width: 24px;
  height: 24px;
  &:hover{
    cursor: pointer;
  }
}
.custom-control-label::after {
  position: absolute;
  top: 0;
  left: 0;
}

.custom-control-label:hover {
  cursor: pointer;
}

.custom-control-input:checked ~ .custom-control-label::before {
  background-color: var(--color-agree);
  content: "✔";
  font-size: 14px;
  display: grid;
  place-items: center;
  color: var(--blue-tertiary);
  width: 24px;
  height: 24px;
}

.criteria-container {
  display: flex;
  -webkit-box-pack: justify;
  margin: auto 2em;
  ul {
    margin-left: 2em;
  }
  .spinner-border.spinner-border-sm {
    height: 3em;
    width: 3em;
  }
}

.approved-no-comment {
  background: var(--yellow-primary);
  border-radius: 0.3em;
  font-size: 0.5em;
  padding: 2px 5px;
  margin-left: 1em;
  border: var(--yellow-secondary) 2px solid;
  display: block !important;
  float: right;
}
.reply-tag {
  border-radius: 0.3em;
  font-size: 0.6em;
  padding: 2px 5px;
  display: block !important;
  float: right;
  font-weight: 600;
  height: fit-content;
  margin-left: 2em;
}

.original-field {
  color: blue;
  font-size: $font-xs;
  font-weight: $semibold;
  font-style: italic;
  margin-top: 0;
  &:hover{
    text-decoration: underline;
    cursor: pointer;
  }
}
.hide{
  visibility: hidden;
  opacity: 0;
  transition: visibility 0s linear 300ms, opacity 300ms;
}
.show {
  visibility: visible;
  opacity: 1;
  transition: visibility 0s linear 0s, opacity 300ms;
}
.original-field-container {
  background-color: #cfeaf3;
  padding: 1em;
  margin-bottom: 0.5em;
  border-radius: 5px;

}

.comment-accepted {
  background: var(--color-agree);
  border: var(--green-primary) 2px solid;
}
.comment-accepted-with-comment {
  background: var(--color-agree-wc);
  border: #005004 2px solid;
  color:white;
}
.comment-disagree {
  background: var(--color-disagree);
  border: var(--red-secondary) 2px solid;
}

.comment-clarification {
  background: var(--color-clarification);
  border: var(--blue-tertiarty) 2px solid;
}

.nav-item {
  padding-top: 0;
  margin-bottom: 2em;
  text-transform: capitalize;
}

.go-back {
  font-weight: 600;
  color: #f1b83b;
  font-size: 1em;
}

.go-back:hover {
  color: #d59b1b;
}

.indicator-item-name {
  font-size: $font-md;
  text-transform: capitalize;
}
.hide {
  z-index: -1;
}
.link-header {
  display: flex;
  justify-content: space-between;
  margin: auto 1em;

}
.badge.badge-blue {
  // margin: auto 1.6em;
  // display: inline-block;
  height: min-content;
  padding: 0.5rem 0.75rem;
  font-size: 0.75rem;
  font-weight: bold;
  border-radius: 0.5rem;
  border: 1px solid transparent;
  background-color: lighten($badge-blue, 40%);
  color: $badge-blue;
  border-color: $badge-blue;
}
.detail-header-container {
  display: flex;
  justify-content: space-between;
  margin: auto 1.6em;

  .evaluation-status {
    border-radius: 0.3em;
    padding: 2px 5px;
    text-align: center;
  }
  .added {
    border: var(--yellow-secondary) 2px solid;
    background: var(--yellow-primary);
  }
  .new {
    border: var(--green-primary) 2px solid;
    background: var(--green-secondary);
  }
  .removed {
    border: var(--red-primary) 2px solid;
    background: var(--red-tertiary);
  }
}
.btn{
  margin-right: 1.5em;
}
.btn-primary:hover {
  background-color: var(--yellow-secondary);
}
.icon-go-back {
  height: 0.8em;
}

.file-button {
  float: right;
  margin-left: 5px;
}

.detail-container {
  padding: 20px;
  .data-container {
    border: 1px solid var(--gray-primary);
    border-radius: 0.2em;
    padding: 20px;
    margin: 0 0.5em 2em;
    min-height: 200px;

    .assessment-info, .assessment-info-r2 {
      display: flex;
      justify-content: space-between;
      align-items: center;
      .left-side {
        .btn-progress{
          background-color: var(--color-clarification);
          font-weight: $semibold;
          color: white;
        }
      }

      .right-side {

      }
    }

    .gnral-commnts.data-row {
      flex-direction: column;
      p {
        font-style: italic;
      }
      textarea {
        border: 1px solid var(--gray-primary);
        padding: 0.5em;
        width: 100%;
      }
      .bton-container {
        margin: 1em 0;
        display: flex;
        justify-content: flex-end;
        button:last-child {
          margin-right: 0;
        }
        button {
          margin: 0 1em;
          width: 10%;
          .green-secondary {
            background-color: var(--green-secondary);
          }
          .green-secondary:disabled {
            background-color: var(--green-secondary);
          }
        }
      }
    }
    .data-row {
      margin: 1em 0;
      flex-direction: row;
      display: flex;
      word-wrap: break-word;
      justify-content: space-between;
      .empty-value {
        font-style: italic;
      }

      h2 {
        font-size: $font-md;
        // text-transform: capitalize;
      }
      p {
        font-size: $primary-fs;
        margin: 0.5em 0;
        word-wrap: break-word;
      }
      .activate-messages-container.active {
        background-color: var(--yellow-secondary);
        border-color: var(--yellow-secondary);
        cursor: pointer;
        i {
          content: url("./../../../assets/icons/comment_icon_added.svg");
        }
        .replies-count {
          background-color: var(--red-primary);
          color: var(--white);
          border-radius: 50%;
          // padding: 0.2em;
          height: 1.5em;
          width: 1.5em;
          position: absolute;
          text-align: center;
          font-size: $font-sm;
          margin-left: $size-md;
          margin-top: $size-25;
        }
      }
      .activate-messages-container {
        border-radius: 50%;
        height: 3em;
        width: 3em;
        background-color: var(--white);
        border: 1px solid var(--gray-primary);
        display: flex;
        justify-content: center;
        margin-right: -2.75em;
        i {
          height: 2em;
          margin: auto;
        }
        .replies-count {
          opacity: 0.7;
          background-color: var(--red-primary);
          color: var(--white);
          border-radius: 50%;
          // padding: 0.2em;
          height: 1.5em;
          width: 1.5em;
          position: absolute;
          text-align: center;
          font-size: $font-sm;
          margin-left: $size-md;
          margin-top: $size-25;
        }
      }
    }
  }
}

.chat-container {
  width: 800px;
  display: grid;
  place-items: center;
  position: fixed;
  right: 2em;
  bottom: 4em;
  z-index:10;
  border-radius: 10px;
  box-shadow:
  0 1.1px 2.2px rgba(0, 0, 0, 0.059),
  0 2.9px 5.5px rgba(0, 0, 0, 0.084),
  0 5.8px 11.2px rgba(0, 0, 0, 0.106),
  0 12px 23px rgba(0, 0, 0, 0.131),
  0 33px 63px rgba(0, 0, 0, 0.19)
;

  iframe{
    width: 100%;
    height: 700px;
    border:none;
    border-radius: 10px;
  }
  
}

  .hide {
    display: none !important;
  }

.btn-assessors-chat {
  position: fixed;
  right: 2em;
  bottom: 1em;
  z-index: 10;
  width: auto;
  height: 40px;
  background-color: #130f40;
  font-weight: $semibold;
  font-size: $font-sm;
  color: white;
  padding: 0.5em 1.5em;
  display: grid;
  place-items: center;
  border-radius: 15px;
  &:hover{
    cursor: pointer;
  }
}

.field-container{
  max-width: 100%;
  p{
    max-width: 60% !important;
    a{
      max-width: 60% !important;
      color: yellow !important;
    }
  }

}

.border-red {
  border: 2px solid red;
}

.p-styles {
  text-align: justify;
  width: 98%;
  font-size: 0.98em;
  line-height: 1.5em;
  word-wrap: break-word;
}