@import "../../../assets/variables.scss";

.data-header{
  display: flex;
  justify-content: space-between;
  margin: auto 1em;
  .download-link{
    cursor: pointer;
  }
}

.custom-control-label{
  margin-left: 1em;
}

.comments-container{
  position: relative;
}

.custom-control-input:checked~.custom-control-label::before {
  background-color: #ffc84f;
}

.criteria-container{
  display: flex;
  -webkit-box-pack: justify;
  margin: auto 2em;
  ul{
    margin-left: 2em;
  }
  .spinner-border.spinner-border-sm{
    height: 3em;
    width: 3em;
  }
}

.nav-item{
  padding-top: 0;
  margin-bottom: 2em;
  text-transform: capitalize;
}

.go-back {
  font-weight: 600;
  color: #f1b83b;
  font-size: 1em;
}

.go-back:hover {
  color: #d59b1b;
}

.indicator-item-name {
  font-size: $font-md;
  text-transform: capitalize;
}
.hide {
  display: none;
}
.detail-header-container {
  display: flex;
  justify-content: space-between;
  margin: auto 1.6em;
}

.btn-primary:hover{
  background-color: var(--yellow-secondary);
}
.icon-go-back{
  height:0.8em
}

.file-button{
  float: right;
  margin-left: 5px;
}

.detail-container {
  padding: 20px;
  .data-container {
    border: 1px solid var(--gray-primary);
    border-radius: 0.2em;
    padding: 20px;
    margin: 0 0.5em 2em;
    min-height: 200px;
    .gnral-commnts.data-row {
      flex-direction: column;
      p {
        font-style: italic;
      }
      textarea {
        border: 1px solid var(--gray-primary);
        padding: 0.5em;
        width: 100%;
      }
      .bton-container {
        margin: 1em 0;
        display: flex;
        justify-content: flex-end;
        button:last-child {
          margin-right: 0;
        }
        button {
          margin: 0 1em;
          width: 10%;
          .green-secondary {
            background-color: var(--green-secondary);
          }
          .green-secondary:disabled {
            background-color: var(--green-secondary);
          }
        }
      }
    }
    .data-row {
      margin: 1em 0;
      flex-direction: row;
      display: flex;
      word-wrap: break-word;
      .empty-value {
        font-style: italic;
      }
      h2 {
        font-size: $font-md;
        // text-transform: capitalize;
      }
      p {
        font-size: $primary-fs;
        margin: 0.5em 0;
        word-wrap: break-word;
      }
      .activate-messages-container.active {
        background-color: var(--yellow-secondary);
        border-color: var(--yellow-secondary);
        cursor: pointer;
        i {
          content: url("~/assets/icons/comment_icon_added.svg");
        }
        .replies-count {
          background-color: var(--red-primary);
          color: var(--white);
          border-radius: 50%;
          height: 1.5em;
          width: 1.5em;
          position: absolute;
          text-align: center;
          font-size: $font-sm;
          margin-left: $size-md;
          margin-top: $size-25;
        }
      }
      .activate-messages-container {
        border-radius: 50%;
        height: 3em;
        width: 3em;
        background-color: var(--white);
        border: 1px solid var(--gray-primary);
        display: flex;
        justify-content: center;
        margin-right: -2.75em;
        i {
          height: 2em;
          margin: auto;
        }
        .replies-count {
          opacity: .7;
          background-color: var(--red-primary);
          color: var(--white);
          border-radius: 50%;
          height: 1.5em;
          width: 1.5em;
          position: absolute;
          text-align: center;
          font-size: $font-sm;
          margin-left: $size-md;
          margin-top: $size-25;
        }
      }
    }
  }
}
