<div *ngIf="results[0].series" class="container">
    <div class="header">
        <h4 class="chart-title title-indicator">{{results[0].name.split('qa_')[1]}}</h4>
    </div>
    <div class="chart-container">
        <ngx-charts-bar-horizontal-normalized 
          [scheme]="colorScheme"
          [results]="results"
          [gradient]="gradient"
          [xAxis]="showXAxis"
          [yAxis]="showYAxis"
          [legend]="showLegend"
          [showXAxisLabel]="showXAxisLabel"
          [showYAxisLabel]="showYAxisLabel"
          [xAxisLabel]="xAxisLabel"
          [yAxisLabel]="yAxisLabel"
          (select)="onSelect($event)">
        </ngx-charts-bar-horizontal-normalized>
    </div>
    <a class="title-indicator" href="">Go to {{results[0].name.split('qa_')[1]}}</a>
</div>