<div *ngIf="results[0].series && indicators" class="container">
    <div class="header">
        <h4 class="chart-title title-indicator">Status - {{total}} {{results[0].name.split('qa_')[1]}}</h4>
    </div>
    <div class="legend">
        <div  *ngFor="let tag of legendLabels"  class="tag"> <div [ngClass]="tag.class" class="square"></div> <p>{{tag.name}} <strong>{{tag.value}}</strong></p></div>
      </div>
    <div class="chart-container">
        <ngx-charts-bar-horizontal-normalized 
          [scheme]="colorScheme"
          [results]="results"
          [gradient]="gradient"
          [xAxis]="showXAxis"
          [yAxis]="showYAxis"
          [legend]="showLegend"
          [showXAxisLabel]="showXAxisLabel"
          [showYAxisLabel]="showYAxisLabel"
          [xAxisLabel]="xAxisLabel"
          [yAxisLabel]="yAxisLabel"
          (select)="onSelect($event)">
        </ngx-charts-bar-horizontal-normalized>
    </div>
    <a *ngIf="indicatorIsEnable()" class="title-indicator" routerLinkActive="active" [routerLinkActive]="['active']"
    routerLink="../indicator/{{results[0].name.split('qa_')[1]}}/id">Go to {{results[0].name.split('qa_')[1]}}</a>
    <a *ngIf="!indicatorIsEnable()" class="title-indicator-disabled" >Go to {{results[0].name.split('qa_')[1]}}</a>
</div>