@import "../../../assets/variables.scss";
.asesor-dashboard {
  margin-top: 5%;
  .row.col.col-sm-8 {
    h4 {
      font-size: $font-md;
      font-weight: $light;
    }
  }
  .card {
    .card-body {
      .no-data {
        text-align: center;
        margin-bottom: 2em;
        // font-weight: bold;
        .circle {
          margin-bottom: 0;
          opacity: 0.5;
        }
      }
      .example-container {
        margin-bottom: 2em;
        p {
          margin: 0 15px;
          line-height: $size-lg;
          align-self: center;
        }
        .circle {
          height: $size-lg;
          width: $size-lg;
          border-radius: 50%;
        }
        .complete {
          background-color: var(--green-tertiary);
        }
        .pending {
          background-color: var(--red-primary);
        }
      }
      .progress-container {
        display: flex;
        flex-direction: column;
        p {
          margin: 10px 0px;
          text-transform: capitalize;
        }
        a {
          max-width: 40%;
          margin-left: auto;
          text-align: right;
          margin-top: 1em;
          // text-transform: capitalize;
        }
        .progress {
          height: $size-lg;
        }
      }
    }
  }
}
