<div class="asesor-dashboard row col offset-md-3 col-sm-8">
    <div class="row col col-sm-8">
        <h4>Progress on Quality Assurance</h4>
    </div>
    <div class="card col-sm-8">
        <div class="card-body">
            <div class="card-title example-container d-flex"
                [ngClass]="{'no-data': (dashboardData | json) == ({} | json)}">
                <div class="circle complete"></div>
                <p>Complete</p>
                <div class="circle pending" style="margin-left: 50px;"></div>
                <p>Pending</p>
            </div>

            <ng-container *ngIf="(dashboardData | json) != ({} | json)">
                <div *ngFor="let item of dashboardData | keyvalue" class="progress-container">
                    <p>{{item.value.total}} {{item.key.split('qa_')[1]}}</p>
                    <progressbar class="progress" [value]="item.value" [max]="item.value.total">
                        <span>{{item.value.total}}</span>
                    </progressbar>
                    <!-- <a [routerLink]="['/indicator', item.key.split('qa_')[1], {primary_field:item.value[0].primary_field}]">
                        Goto {{item.key.split('qa_')[1]}}
                    </a> -->
                    <a (click)="goToView(item.key.split('qa_')[1], item.value[0].primary_field)">
                        Go to {{item.key.split('qa_')[1]}}
                    </a>
                </div>

            </ng-container>
            <div class="no-data" *ngIf="(dashboardData | json) == ({} | json)">
                You don't have any indicator assingned.
                Please contact your Administrator.
            </div>


        </div>
    </div>
</div>