/**
** MONSERRAT
**/

@font-face {
    font-family: 'Montserrat';
    src: url('./../fonts/Regular/Montserrat-Medium.woff2') format('woff2'),
        url('./../fonts/Regular/Montserrat-Medium.woff') format('woff');
    font-weight: 500;
    font-style: normal;
}

@font-face {
    font-family: 'Montserrat';
    src: url('./../fonts/Light/Montserrat-Light.woff2') format('woff2'),
        url('./../fonts/Light/Montserrat-Light.woff') format('woff');
    font-weight: 300;
    font-style: normal;
}

@font-face {
    font-family: 'Montserrat';
    src: url('./../fonts/Light/Montserrat-ExtraLight.woff2') format('woff2'),
        url('./../fonts/Light/Montserrat-ExtraLight.woff') format('woff');
    font-weight: 200;
    font-style: normal;
}

@font-face {
    font-family: 'Montserrat';
    src: url('./../fonts/Light/Montserrat-ExtraLightItalic.woff2') format('woff2'),
        url('./../fonts/Light/Montserrat-ExtraLightItalic.woff') format('woff');
    font-weight: 200;
    font-style: italic;
}

@font-face {
    font-family: 'Montserrat';
    src: url('./../fonts/Regular/Montserrat-Italic.woff2') format('woff2'),
        url('./../fonts/Regular/Montserrat-Italic.woff') format('woff');
    font-weight: normal;
    font-style: italic;
}

@font-face {
    font-family: 'Montserrat';
    src: url('./../fonts/Bold/Montserrat-SemiBoldItalic.woff2') format('woff2'),
        url('./../fonts/Bold/Montserrat-SemiBoldItalic.woff') format('woff');
    font-weight: 600;
    font-style: italic;
}

@font-face {
    font-family: 'Montserrat';
    src: url('./../fonts/Bold/Montserrat-ExtraBoldItalic.woff2') format('woff2'),
        url('./../fonts/Bold/Montserrat-ExtraBoldItalic.woff') format('woff');
    font-weight: 800;
    font-style: italic;
}

@font-face {
    font-family: 'Montserrat';
    src: url('./../fonts/Thin/Montserrat-Thin.woff2') format('woff2'),
        url('./../fonts/Thin/Montserrat-Thin.woff') format('woff');
    font-weight: 100;
    font-style: normal;
}

@font-face {
    font-family: 'Montserrat';
    src: url('./../fonts/Thin/Montserrat-ThinItalic.woff2') format('woff2'),
        url('./../fonts/Thin/Montserrat-ThinItalic.woff') format('woff');
    font-weight: 100;
    font-style: italic;
}

@font-face {
    font-family: 'Montserrat';
    src: url('./../fonts/Black/Montserrat-Black.woff2') format('woff2'),
        url('./../fonts/Black/Montserrat-Black.woff') format('woff');
    font-weight: 900;
    font-style: normal;
}

@font-face {
    font-family: 'Montserrat';
    src: url('./../fonts/Regular/Montserrat-Regular.woff2') format('woff2'),
        url('./../fonts/Regular/Montserrat-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Montserrat';
    src: url('./../fonts/Bold/Montserrat-Bold.woff2') format('woff2'),
        url('./../fonts/Bold/Montserrat-Bold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'Montserrat';
    src: url('./../fonts/Bold/Montserrat-SemiBold.woff2') format('woff2'),
        url('./../fonts/Bold/Montserrat-SemiBold.woff') format('woff');
    font-weight: 600;
    font-style: normal;
}

@font-face {
    font-family: 'Montserrat';
    src: url('./../fonts/Regular/Montserrat-MediumItalic.woff2') format('woff2'),
        url('./../fonts/Regular/Montserrat-MediumItalic.woff') format('woff');
    font-weight: 500;
    font-style: italic;
}

@font-face {
    font-family: 'Montserrat';
    src: url('./../fonts/Bold/Montserrat-ExtraBold.woff2') format('woff2'),
        url('./../fonts/Bold/Montserrat-ExtraBold.woff') format('woff');
    font-weight: 800;
    font-style: normal;
}

@font-face {
    font-family: 'Montserrat';
    src: url('./../fonts/Light/Montserrat-LightItalic.woff2') format('woff2'),
        url('./../fonts/Light/Montserrat-LightItalic.woff') format('woff');
    font-weight: 300;
    font-style: italic;
}

@font-face {
    font-family: 'Montserrat';
    src: url('./../fonts/Bold/Montserrat-BoldItalic.woff2') format('woff2'),
        url('./../fonts/Bold/Montserrat-BoldItalic.woff') format('woff');
    font-weight: bold;
    font-style: italic;
}

@font-face {
    font-family: 'Montserrat';
    src: url('./../fonts/Black/Montserrat-BlackItalic.woff2') format('woff2'),
        url('./../fonts/Black/Montserrat-BlackItalic.woff') format('woff');
    font-weight: 900;
    font-style: italic;
}

/**
** END MONSERRAT
**/

/**
** POPPINS
**/

@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700;800;900&display=swap');
