@import "./assets/variables.scss";

/***
*** ICONS
***/
.icon-edit {
  content: url("~/assets/icons/edit_icon.svg");
}
.icon-remove {
  content: url("~/assets/icons/remove_icon.svg");
}
.icon-save {
  content: url("~/assets/icons/save_icon.svg");
}
.icon-log-out {
  content: url("~/assets/icons/signout_icon.svg");
}
.cgiar-logo {
  content: url("~/assets/icons/cgiar_logo.svg");
}

/***
*** Type-ahead
***/

.badge-primary.type-ahead-badge {
  color: var(--black);
  background-color: var(--background);
  padding: 5px 10px;
  margin: 5px;
  span {
    position: relative;
    left: 5px;
    top: 0px;
  }
}

/***
*** Sticky Alert
***/
.sticky {
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 99;
}

/***
*** Confirmation modal
***/
.custom-confirmation {
  height: 100%;
  .modal-content {
    position: absolute;
    top: 50%;
    background-color: var(--input-gray);
    .modal-body {
      .btn {
        margin: 0 20px;
        width: 20%;
      }
      .btn.btn-primary {
        color: var(--white);
        background-color: var(--yellow-primary);
        border-color: var(--yellow-primary);
      }
      .btn.btn-default {
        border-color: var(--gray-tertiary);
      }
    }
    // .button-default{
    //   color: var(--white);
    //   background-color: var(--yellow-primary);
    //   border-color: var(--yellow-primary);
    // }
  }
}

/***
** Toggle
***/

.qa-toggle.custom-switch {
  padding-left: 0;
  .custom-control-label::before {
    position: relative;
    left: 0;
    height: 2em;
    width: 5em;
    border-radius: 15px;
  }
  .custom-control-input:checked ~ .custom-control-label::before {
    background-color: var(--yellow-primary);
    border-color: transparent;
  }


  .custom-control-label::after{
    top: calc(.25rem + 2px);
    left: calc(0rem + 2px);
    width: calc(2rem - 4px);
    height: calc(2rem - 4px);
    background-color: var(--gray-secondary);
    border-radius: 1.5rem;
  }
  .custom-control-input:checked~.custom-control-label::after{
    -webkit-transform: translateX(2.75rem);
    transform: translateX(2.75rem);
  }

}
