.idea/
.vscode/
node_modules/
build/
tmp/
temp/
./ormconfig.json
ormconfig.json
./ormconfig.local.json
ormconfig.local.json
./ormconfig.marlodev.json
ormconfig.marlodev.json
./ormconfig_.json
ormconfig_.json

./src/config/config.ts
src/config/config.ts