<div class="container" *ngIf="!isModal">
    <div class="options">
        <span class="legendTitle">Tags: </span>
        <div class="legendInline">
            <igx-legend #legend orientation="Horizontal"></igx-legend>
        </div>
    </div>

    <div class="chart" >
        <igx-data-chart #chart isHorizontalZoomEnabled="false" isVerticalZoomEnabled="false" width="100%"
            height="calc(100% - 60px)" [dataSource]="data" [legend]="legend" brushes="#f3da90, #ff8200,#59ed9c">
            <igx-numeric-y-axis title="" #yAxis [interval]="interval" minimumValue=0 [maximumValue]="maxY">
            </igx-numeric-y-axis>
            <igx-category-x-axis label="item" title="" #xAxis>
            </igx-category-x-axis>

            <igx-spline-series [markerType]="markersType" markerBrush="white" markerOutline="#f3da90" showDefaultTooltip=true valueMemberPath="pending" [xAxis]="xAxis" [yAxis]="yAxis" title="Pending">
            </igx-spline-series>
            <igx-spline-series [markerType]="markersType" markerBrush="white" markerOutline="#ff8200" showDefaultTooltip=true valueMemberPath="assessment_with_comments" [xAxis]="xAxis" [yAxis]="yAxis" title="Assesment with comments">
            </igx-spline-series>
            <igx-spline-series  [markerType]="markersType" markerBrush="white" markerOutline="#59ed9c" showDefaultTooltip=true valueMemberPath="approved_without_comment" [xAxis]="xAxis" [yAxis]="yAxis" title="Approved without comment">
            </igx-spline-series>
        </igx-data-chart> 
    </div>

</div>

<div class="container-modal" *ngIf="isModal && !toggleChart">
    <div class="options">
        <span class="legendTitle">Tags: </span>
        <div class="legendInline">
            <div (click)="switchCharts()" id="legendTitle" style="color:red; font-weight: 600;">Assessment by field chart under development - <span class="link">See bar chart</span></div>
            <igx-legend #legend orientation="Horizontal"></igx-legend>
        </div>
    </div>

    <div class="chart-modal" >
        <igx-data-chart  #chart isHorizontalZoomEnabled="false" isVerticalZoomEnabled="false" width="100%"
            height="100%" [dataSource]="data" [legend]="legend" brushes="#f3da90, #ff8200,#59ed9c">
            <igx-numeric-y-axis title="" #yAxis [interval]="interval" minimumValue=0 [maximumValue]="maxY">
            </igx-numeric-y-axis>
            <igx-category-x-axis label="item" title="" #xAxis>
            </igx-category-x-axis>

            <igx-spline-series [markerType]="markersType" markerBrush="white" markerOutline="#f3da90" showDefaultTooltip=true valueMemberPath="pending" [xAxis]="xAxis" [yAxis]="yAxis" title="Pending">
            </igx-spline-series>
            <igx-spline-series [markerType]="markersType" markerBrush="white" markerOutline="#ff8200" showDefaultTooltip=true valueMemberPath="assessment_with_comments" [xAxis]="xAxis" [yAxis]="yAxis" title="Assesment with comments">
            </igx-spline-series>
            <igx-spline-series  [markerType]="markersType" markerBrush="white" markerOutline="#59ed9c" showDefaultTooltip=true valueMemberPath="approved_without_comment" [xAxis]="xAxis" [yAxis]="yAxis" title="Approved without comment">
            </igx-spline-series>
        </igx-data-chart> 
    </div>

</div>
<div class="container-modal-bar" *ngIf="isModal && toggleChart">
    <div class="container sample">
        <div class="options vertical">
            <div (click)="switchCharts()" id="legendTitle" style="color:red; font-weight: 600;">Assessment by field chart under development - <span class="link">See line chart</span>
            </div>
            <igx-legend #legend orientation="Horizontal"></igx-legend>
        </div>
        <div class="container">
            <igx-data-chart height="90%" width="100%" isVerticalZoomEnabled="false"
                isHorizontalZoomEnabled="false"  brushes="#f3da90,#59ed9c, #ff8200">
                <igx-category-x-axis #xAxis [dataSource]="data" label="item" gap="0.2"></igx-category-x-axis>
                <igx-numeric-y-axis #yAxis minimumValue="0" [maximumValue]="maxY + 5" ></igx-numeric-y-axis>
    
                <igx-stacked-column-series [xAxis]="xAxis" [yAxis]="yAxis" [dataSource]="data" showDefaultTooltip="true"
                    areaFillOpacity="1"  [legend]="legend">
                    <igx-stacked-fragment-series  markerBrush="white" markerOutline="f3da90" showDefaultTooltip=true valueMemberPath="pending" title="Pending"></igx-stacked-fragment-series>
                    <igx-stacked-fragment-series  markerBrush="white" markerOutline="#59ed9c" showDefaultTooltip=true valueMemberPath="approved_without_comment" title="Approved without comment"></igx-stacked-fragment-series>
                    <igx-stacked-fragment-series  markerBrush="white" markerOutline="#ff8200" showDefaultTooltip=true valueMemberPath="assessment_with_comments" title="Assessment with comments"></igx-stacked-fragment-series>
                </igx-stacked-column-series>
    
                <igx-point-series [xAxis]="xAxis" [yAxis]="yAxis" [dataSource]="data" valueMemberPath="PendingMarker"
                    [markerTemplate]="getMarker()">
                </igx-point-series>
                <igx-point-series [xAxis]="xAxis" [yAxis]="yAxis" [dataSource]="data" valueMemberPath="ApprovedMarker"
                    [markerTemplate]="getMarker()"></igx-point-series>
                <igx-point-series [xAxis]="xAxis" [yAxis]="yAxis" [dataSource]="data" valueMemberPath="CommentMarker"
                    [markerTemplate]="getMarker()"></igx-point-series>
                <igx-callout-layer [dataSource]="calloutDataSource" xMemberPath="X" yMemberPath="Y" labelMemberPath="Label"
                    calloutBackground="Transparent" calloutLeaderBrush="Transparent" calloutTextColor="Black">
                </igx-callout-layer>
            </igx-data-chart>
        </div>
    </div>
    

</div>