<div class="container">
    <div class="options">
        <span class="legendTitle">Tags: </span>
        <div class="legendInline">
            <igx-legend #legend orientation="Horizontal"></igx-legend>
        </div>
    </div>

    <div class="chart">
        <igx-data-chart #chart isHorizontalZoomEnabled="true" isVerticalZoomEnabled="true" width="100%"
            height="calc(100% - 60px)" [dataSource]="data" [legend]="legend" [brushes]="brushes">
            <igx-numeric-y-axis title="" #yAxis>
            </igx-numeric-y-axis>
            <igx-category-x-axis label="item" title="" #xAxis>
            </igx-category-x-axis>

            <igx-spline-series showDefaultTooltip=true valueMemberPath="pending" [xAxis]="xAxis" [yAxis]="yAxis" title="Pending">
            </igx-spline-series>
            <igx-spline-series  showDefaultTooltip=true valueMemberPath="approved_without_comment" [xAxis]="xAxis" [yAxis]="yAxis" title="Approved without comment">
            </igx-spline-series>
            <igx-spline-series showDefaultTooltip=true valueMemberPath="assessment_with_comments" [xAxis]="xAxis" [yAxis]="yAxis" title="Assesment with comments">
            </igx-spline-series>
        </igx-data-chart>
    </div>
</div>