<h2>List of {{indicatorTypeName}}</h2>
<div class="row col sub-header">
    <div class="col row text-left">
        <div class="model-link-container" (click)="goToPDF('AR')">
            <i class="icon-pdf"></i>
            <hr>
            <p>AR Template</p>
        </div>
        <div class="model-link-container" (click)="goToPDF(indicatorType)">
            <i class="icon-pdf"></i>
            <hr>
            <p>{{indicatorTypeName}} Template</p>
        </div>
    </div>
    <div class="col row text-right">
        <div class="circle complete"></div>
        <p>Complete</p>
        <div class="circle pending" style="margin-left: 50px;"></div>
        <p>Pending</p>
    </div>
</div>
<div class="form-group">
    <input type="text" class="form-control" placeholder="Search Here" [(ngModel)]="searchText">
</div>
<table class="table table-bordered">
    <thead class="table-header">
        <tr>
            <th scope="col" [class.active]="order === 'id'" (click)="setOrder('id')">
                <div class="header-row">
                    Id
                    <div class="order-icon" *ngIf="order === 'id'">
                        <span [hidden]="reverse">▼</span>
                        <span [hidden]="!reverse">▲</span>
                    </div>
                </div>
            </th>
            <th scope="col" [class.active]="order === 'title'" (click)="setOrder('title')">
                <div class="header-row">
                    Title
                    <div class="order-icon" *ngIf="order === 'title'">
                        <span [hidden]="reverse">▼</span>
                        <span [hidden]="!reverse">▲</span>
                    </div>
                </div>
            </th>
            <th scope="col" [class.active]="order === 'crp'" (click)="setOrder('crp')">
                <div class="header-row">
                    CRP
                    <div class="order-icon" *ngIf="order === 'crp'">
                        <span [hidden]="reverse">▼</span>
                        <span [hidden]="!reverse">▲</span>
                    </div>
                </div>
            </th>
            <th *ngIf="returnedArray && returnedArray[0].stage" scope="col" [class.active]="order === 'stage'"
                (click)="setOrder('stage')">
                <div class="header-row">
                    Stage
                    <div class="order-icon" *ngIf="order === 'stage'">
                        <span [hidden]="reverse">▼</span>
                        <span [hidden]="!reverse">▲</span>
                    </div>
                </div>
            </th>
            <th scope="col" [class.active]="order === 'comments_count'" (click)="setOrder('comments_count')">
                <div class="header-row"> Comments
                    <div class="order-icon" *ngIf="order === 'comments_count'">
                        <span [hidden]="reverse">▼</span>
                        <span [hidden]="!reverse">▲</span>
                    </div>
                </div>
            </th>
            <th scope="col">
                <div class="header-row">
                    Export comments
                </div>
            </th>
            <th scope="col" [class.active]="order === 'status'" (click)="setOrder('status') ">
                <div class="header-row"> QA Status
                    <div class="order-icon" *ngIf="order === 'status'">
                        <span [hidden]="reverse">▼</span>
                        <span [hidden]="!reverse">▲</span>
                    </div>
                </div>
            </th>
        </tr>
    </thead>
    <tbody class="table-body">
        <tr *ngFor="let item of evaluationList | filter:searchText | slice:currentPage.startItem:currentPage.endItem">
        <!-- <tr *ngFor="let item of returnedArray | filter:searchText | slice:1:3"> -->
            <th scope="row">{{ item.id }}</th>
            <!-- <td style="cursor: pointer;"  [routerLinkActive]="['active']" [routerLink]="['./detail', item.id]"> -->
            <td style="cursor: pointer;" (click)="goToView(item.id)">
                {{ item.title }}
            </td>
            <td>{{ item.crp_acronym }}</td>
            <td *ngIf="item.stage">{{ (item.stage) ? item.stage: notProviedText}}</td>
            <!-- <td *ngIf="!item.stage">{{notProviedText }}</td> -->
            <td>{{ item.comments_count }}</td>
            <td (click)="exportComments(item)">
                <a target="_blank">
                    <div tooltip="Comment in excel format" container="body" placement="top"
                        class="btn btn-primary file-button">
                        <i class="icon-download-excel"></i>
                    </div>
                </a>
            </td>
            <td>
                <div class="circle {{ item.status }}"></div>
            </td>
        </tr>
    </tbody>
</table>
<div class="d-flex justify-content-center p-2 pagination-container">
    <pagination [rotate]="false" [totalItems]="collectionSize" [maxSize]="3" (pageChanged)="pageChanged($event)">
    </pagination>
</div>


<!-- Loading Spinner -->
<ngx-spinner>
</ngx-spinner>
