@import "../../assets/variables.scss";

h2 {
  text-align: center;
  margin: 1em;
  font-size: $font-lg;
}

.icon-go-back {
  height: 0.8em;
}
.nav-item {
  padding-top: 0;
  margin-bottom: 2em;
  text-transform: capitalize;
}

.evaluation-status {
  border-radius: 0.3em;
  font-size: 0.5em;
  padding: 2px 5px;
  display: block !important;
  float: right;
}
.added {
  border: var(--yellow-secondary) 2px solid;
  background: var(--yellow-primary);
}
.new {
  border: var(--green-primary) 2px solid;
  background: var(--green-secondary);
}
.removed {
  border: var(--red-primary) 2px solid;
  background: var(--red-tertiary);
}

.go-back {
  font-weight: 600;
  color: var(--yellow-primary);
  font-size: 1em;
}

.go-back:hover {
  color: #d59b1b;
}

.indicator-header {
  margin: 1em 0;
  padding: 0;
  width: 100%;
  height: auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
  .model-link-container {
    padding: 10px;
    cursor: pointer;
    background-color: var(--gray-primary);
    border-radius: 0.3em;
    height: 2em;
    width: auto;
    margin-right: 2em;
    display: flex;
    i {
      height: 1.5em;
      margin-top: -0.35em;
      margin-right: 0.4em;
    }
    p {
      margin: 0;
      vertical-align: middle;
      padding: 0 0.5em;
      font-size: 0.7em;
    }
    hr {
      position: relative;
      background: var(--gray-tertiary);
      width: 2px;
      height: 1.9em;
      top: -10px;
      margin: 0 auto;
    }
  }
  .circle {
    margin: 0 1em;
  }
  .text-right {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    width: auto;
    p{
      margin: 0;
    }
  }
  .text-left {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    width: auto;
  }
}

.table-header {
  tr {
    th {
      text-align: center;
      vertical-align: middle;
      padding: 0.75em;
      text-transform: uppercase;
      cursor: pointer;
      .header-row {
        display: flex;
        flex-direction: row;
        justify-content: center;
        .order-icon {
          margin-left: 1em;
        }
      }
    }
    th.active {
      background-color: var(--green-tertiary);
      color: var(--black);
    }
  }
}

.table-body {
  td {
    text-align: center;
    vertical-align: middle;
    padding: 0.75em;
    .excel-download {
      cursor: pointer;
      color: #007bff;
      text-decoration: underline;
      i {
        height: 0.5em;
      }
    }
  }
  th {
    text-align: center;
    vertical-align: middle;
    padding: 0.75em;
  }
  .circle {
    margin: auto !important;
  }
}
.total-items {
  font-size: 0.9em; 
  color: var(--gray-secondary);
  font-style: italic;
}
.circle.complete {
  background-color: var(--color-complete);
}
.circle.pending {
  background-color: var(--color-pending);
}
.circle.finalized {
  background-color: var(--color-finalized);
}
.circle.autochecked {
  background-color: var(--color-autochecked);
}

.pagination-container {
  pagination {
    .pagination {
      margin: 0;
      background-color: var(--blue-primary);
    }
  }
}

.chat-container {
  width: 800px;
  display: grid;
  place-items: center;
  position: fixed;
  right: 2em;
  bottom: 4em;
  z-index:10;
  border-radius: 10px;
  box-shadow:
  0 1.1px 2.2px rgba(0, 0, 0, 0.059),
  0 2.9px 5.5px rgba(0, 0, 0, 0.084),
  0 5.8px 11.2px rgba(0, 0, 0, 0.106),
  0 12px 23px rgba(0, 0, 0, 0.131),
  0 33px 63px rgba(0, 0, 0, 0.19)
;

  iframe{
    width: 100%;
    height: 700px;
    border:none;
    border-radius: 10px;
  }
  
}

  .hide {
    display: none !important;
  }

.btn-assessors-chat {
  position: fixed;
  right: 2em;
  bottom: 1em;
  z-index: 10;
  width: auto;
  height: 40px;
  background-color: #130f40;
  font-weight: $semibold;
  font-size: $font-sm;
  color: white;
  padding: 0.5em 1.5em;
  display: grid;
  place-items: center;
  border-radius: 15px;
  &:hover{
    cursor: pointer;
  }
}

