<a class="nav-item nav-link go-back" [routerLinkActive]="['active']" routerLink="/dashboard/">
    <i class=icon-go-back></i> Dashboard
</a>


<h2>{{returnListName(indicatorType, 'header')}} </h2>
<!-- <h4 style="text-align: center;" *ngIf="currentUser.hasOwnProperty('cycle')">
    {{'QA Round' + ': '+ currentUser.cycle.cycle_stage}}
</h4> -->

<div class="row col indicator-header">
    <div class="text-left">
        <!-- <div class="model-link-container" (click)="goToPDF('AR')">
            <i class="icon-pdf"></i>
            <hr>
            <p>AR Template</p>
        </div> -->
        <!-- <div *ngIf="!criteria_loading">
            <h2>QUALITY ASSESSMENT CRITERIA</h2>
            <div style="padding-left: 2em;" [innerHTML]="criteriaData.qa_criteria | markdown"></div>
        </div> -->

        <div *ngIf="!criteria_loading" [innerHTML]="criteriaData.qa_criteria | markdown"></div>
        <!-- <H5><a [routerLink]="" (click)="goToPDF(indicatorType)">See {{returnListName(indicatorType, 'header')}} guidance</a> <br></H5> -->
        <!-- <div *ngIf="hasTemplate" class="model-link-container" (click)="goToPDF(indicatorType)">
            <i class="icon-pdf"></i>
            <hr>
            <p>Indicator Guidance</p>
        </div> -->
    </div>
    <div class="text-right">
        <!-- <div *ngIf="indicatorType == 'publications'" class="circle autochecked" style="margin-left: 50px;"></div> -->
        <i *ngIf="indicatorType == 'publications'" class="icon-autochecked"></i>
        <p *ngIf="indicatorType == 'publications'">Automatically validated</p>

        <i class="icon-pending"></i>
        <!-- <div class="circle pending" style="margin-left: 50px;"></div> -->
        <p>Pending</p>

        <!-- <i class="icon-in-progress"></i>
        <p>In progress</p> -->

        <i class="icon-quality-assessed"></i>
        <!-- <div class="circle finalized" style="margin-left: 50px;"></div> -->
        <p>Quality Assessed</p>
    </div>
</div>
<div class="row filters-container">
    <div class="date-filter">
        <span>Filter by submission</span>
        <div *ngFor="let sub of submission_dates" class="form-check form-check-inline">
            <input class="form-check-input" type="checkbox" id="sub.id" [value]="sub.date" [checked]="sub.checked"
                (change)="onDateChange($event,sub.batch_name)">
            <label class="form-check-label" for="inlineCheckbox{{sub.id}}">{{sub.date}}</label>
        </div>
    </div>
    <button type="button" class="btn btn-outline-primary" [(ngModel)]="rsaFilter" btnCheckbox [btnCheckboxTrue]="1"
        [btnCheckboxFalse]="0">
        Require 2nd assessment
    </button>
    <div class="removed-filter">
        <div class="btn-group" btnRadioGroup [(ngModel)]="evalStatusFilter">
            <!-- <label class="btn btn-outline-warning" [class.active]="evalStatusFilter === 'Added'" btnRadio="Added"
                uncheckable tabindex="0" role="button">Added item</label> -->
            <label class="btn btn-outline-danger" [class.active]="evalStatusFilter === 'Removed'" btnRadio="Removed"
                uncheckable tabindex="0" role="button">Removed items</label>
        </div>
    </div>

    <div class="form-group">
        <input type="text" class="form-control" placeholder="Search Here" [(ngModel)]="searchText">
    </div>
</div>

<!-- <div class="form-group">
    <input type="text" class="form-control" placeholder="Search Here" [(ngModel)]="searchText">
</div>
<div class="row" style="margin: 1em 0;">
 
    <div class="btn-group" btnRadioGroup [(ngModel)]="evalStatusFilter">
        <label class="btn btn-outline-warning" [class.active]="evalStatusFilter === 'Added'" btnRadio="Added"
            uncheckable tabindex="0" role="button">Added item</label>
        <label class="btn btn-outline-danger" [class.active]="evalStatusFilter === 'Removed'" btnRadio="Removed"
            uncheckable tabindex="0" role="button">Removed items</label>
    </div>
</div> -->


<table class="table table-bordered" *ngIf="collectionSize != 0">
    <thead class="table-header">
        <tr>
            <th scope="col" [class.active]="order === 'id'" (click)="setOrder('id')">
                <div class="header-row">
                    Id
                    <div class="order-icon" *ngIf="order === 'id'">
                        <span [hidden]="reverse">▼</span>
                        <span [hidden]="!reverse">▲</span>
                    </div>
                </div>
            </th>
            <th scope="col" *ngIf="returnedArray && returnedArray[0].brief">
                <div class="header-row">
                    Brief contribution
                </div>
            </th>
            <th scope="col" [class.active]="order === 'title'" (click)="setOrder('title')">
                <div class="header-row">
                    {{returnListName(indicatorType, 'list')}}
                    <div class="order-icon" *ngIf="order === 'title'">
                        <span [hidden]="reverse">▼</span>
                        <span [hidden]="!reverse">▲</span>
                    </div>
                </div>
            </th>
            <th scope="col" [class.active]="order === 'crp_acronym'" (click)="setOrder('crp_acronym')">
                <div class="header-row">
                    CRP/Ptf
                    <div class="order-icon" *ngIf="order === 'crp_acronym'">
                        <span [hidden]="reverse">▼</span>
                        <span [hidden]="!reverse">▲</span>
                    </div>
                </div>
            </th>
            <th *ngIf="returnedArray && returnedArrayHasStage" scope="col" [class.active]="order === 'stage'"
                (click)="setOrder('stage')">
                <div class="header-row">
                    {{stageHeaderText[indicatorType]}}
                    <div class="order-icon" *ngIf="order === 'stage'">
                        <span [hidden]="reverse">▼</span>
                        <span [hidden]="!reverse">▲</span>
                    </div>
                </div>
            </th>
            <th *ngIf="returnedArray && returnedArray[0].fp" scope="col" [class.active]="order === 'fp'"
                (click)="setOrder('fp')">
                <div class="header-row">
                    Flagship
                    <div class="order-icon" *ngIf="order === 'fp'">
                        <span [hidden]="reverse">▼</span>
                        <span [hidden]="!reverse">▲</span>
                    </div>
                </div>
            </th>


            <th scope="col" [class.active]="order === 'comments_count'" (click)="setOrder('comments_count')">
                <div class="header-row">
                    Comments
                    <div *ngIf="currentUser.cycle.cycle_stage == 2" class="flag">2nd round</div>
                    <div class="order-icon" *ngIf="order === 'comments_count'">
                        <span [hidden]="reverse">▼</span>
                        <span [hidden]="!reverse">▲</span>
                    </div>
                </div>
            </th>
            <!-- Do not show Replies count & accepted comments columns -->
            <!-- <th *ngIf="returnedArray && returnedArray[0].comments_replies_count && currentUser.cycle.cycle_stage == 2" scope="col"
                [class.active]="order === 'comments_replies_count'" (click)="setOrder('comments_replies_count')">
                <div class="header-row">
                    Replies count
                    {{returnedArray[0].comments_replies_count}}
                    <div class="order-icon" *ngIf="order === 'comments_replies_count'">
                        <span [hidden]="reverse">▼</span>
                        <span [hidden]="!reverse">▲</span>
                    </div>
                </div>
            </th> -->
            <th *ngIf="returnedArray && returnedArray[0].comments_accepted_with_comment_count && currentUser.cycle.cycle_stage == 2"
                scope="col" [class.active]="order === 'comments_accepted_with_comment_count'"
                (click)="setOrder('comments_accepted_with_comment_count')">
                <div class="header-row">
                    Accepted <div class="legend-xs">w. comment</div>
                    <div class="flag">CRP Reply</div>
                    <div class="order-icon" *ngIf="order === 'comments_accepted_with_comment_count'">
                        <span [hidden]="reverse">▼</span>
                        <span [hidden]="!reverse">▲</span>
                    </div>
                </div>
            </th>
            <th *ngIf="returnedArray && returnedArray[0].comments_disagreed_count && currentUser.cycle.cycle_stage == 2"
                scope="col" [class.active]="order === 'comments_disagreed_count'"
                (click)="setOrder('comments_disagreed_count')">
                <div class="header-row">
                    Disagreed
                    <div class="flag">CRP Reply</div>
                    <div class="order-icon" *ngIf="order === 'comments_disagreed_count'">
                        <span [hidden]="reverse">▼</span>
                        <span [hidden]="!reverse">▲</span>
                    </div>
                </div>
            </th>
            <th *ngIf="returnedArray && returnedArray[0].comments_clarification_count && currentUser.cycle.cycle_stage == 2"
                scope="col" [class.active]="order === 'comments_clarification_count'"
                (click)="setOrder('comments_clarification_count')">
                <div class="header-row">
                    Clarification needed
                    <div class="flag">CRP Reply</div>
                    <div class="order-icon" *ngIf="order === 'comments_clarification_count'">
                        <span [hidden]="reverse">▼</span>
                        <span [hidden]="!reverse">▲</span>
                    </div>
                </div>
            </th>



            <th scope="col">
                <div class="header-row">
                    Export comments
                </div>
            </th>
            <th scope="col">
                <div class="header-row">
                    Submission date
                </div>
            </th>
            <th *ngIf="currentUser.cycle.cycle_stage != 2" scope="col" [class.active]="order === 'comment_by'"
                (click)="setOrder('comment_by')">
                <div class="header-row">
                    Assessed By
                    <div class="order-icon" *ngIf="order === 'comment_by'">
                        <span [hidden]="reverse">▼</span>
                        <span [hidden]="!reverse">▲</span>
                    </div>
                </div>
            </th>
            <th *ngIf="currentUser.cycle.cycle_stage == 2" scope="col" [class.active]="order === 'assessed_r2'"
                (click)="setOrder('assessed_r2')">
                <div class="header-row">
                    Assessed By
                    <div class="flag">2nd round</div>
                    <div class="order-icon" *ngIf="order === 'assessed_r2'">
                        <span [hidden]="reverse">▼</span>
                        <span [hidden]="!reverse">▲</span>
                    </div>
                </div>
            </th>
            <th scope="col" [class.active]="order === 'status'" (click)="setOrder('status') ">
                <div class="header-row"> QA Status
                    <div class="order-icon" *ngIf="order === 'status'">
                        <span [hidden]="reverse">▼</span>
                        <span [hidden]="!reverse">▲</span>
                    </div>
                </div>
            </th>
        </tr>
    </thead>
    <tbody class="table-body">
        <tr
            *ngFor="let item of evaluationList | customFilter:evalStatusFilter:'evaluation_status' | filter:searchText | dateFilter:submission_dates:'submission_date'| filterBoolean:rsaFilter:'require_second_assessment' | slice:currentPageList.startItem:currentPageList.endItem  ; let i = index">
            <th scope="row">
                QA-{{ indicatorType.charAt(0).toUpperCase() }}{{ indicatorType.charAt(1).toUpperCase() }}-{{ item.id }}
            </th>
            <td *ngIf="item.hasOwnProperty('brief') && item.brief">
                <div *ngIf="item.evaluation_status && item.evaluation_status !== 'New'"
                    class="evaluation-status {{ item.evaluation_status ? item.evaluation_status.toLowerCase():'' }}"
                    style="display:none">
                    {{item.evaluation_status}}
                </div>
                <a (click)="savePageList()" class="brief-format" rel="noopener noreferrer"
                    [routerLinkActive]="['active']" routerLink="./detail/{{item.id}}"
                    [innerHtml]="formatBrief(item.brief)"></a>
            </td>
            <td>
                <div *ngIf="item.evaluation_status && item.evaluation_status !== 'New'"
                    class="evaluation-status {{ item.evaluation_status ? item.evaluation_status.toLowerCase():'' }}"
                    style="display:none">
                    {{item.evaluation_status}}
                </div>
                <a (click)="savePageList()" *ngIf="!item.brief" rel="noopener noreferrer"
                    [routerLinkActive]="['active']" routerLink="./detail/{{item.id}}">
                    {{ fixAccent(item.title)}}</a>
                <div *ngIf="returnedArray[0].brief" class="div">{{ item.title}}</div>
            </td>
            <td>{{ item.crp_acronym }}</td>
            <td *ngIf="item.hasOwnProperty('stage')">{{ (item.stage) ? item.stage: notProviedText}}</td>
            <td *ngIf="item.hasOwnProperty('fp')">{{ (item.fp) ? item.fp: notProviedText}}</td>
            <td>{{ item.comments_count }}</td>
            <td
                *ngIf="item.hasOwnProperty('comments_accepted_with_comment_count') && currentUser.cycle.cycle_stage == 2">
                {{ (item.comments_accepted_with_comment_count) ? item.comments_accepted_with_comment_count: 0}}</td>
            <td *ngIf="item.hasOwnProperty('comments_disagreed_count') && currentUser.cycle.cycle_stage == 2">
                {{ (item.comments_disagreed_count) ? item.comments_disagreed_count: 0}}</td>
            <td *ngIf="item.hasOwnProperty('comments_clarification_count') && currentUser.cycle.cycle_stage == 2">
                {{ (item.comments_clarification_count) ? item.comments_clarification_count: 0}}</td>
            <td *ngIf="item" (click)="exportComments(item)">
                <a target="_blank">
                    <div tooltip="Comment in excel format" container="body" placement="top"
                        class="btn btn-primary file-button">
                        <i class="icon-download-excel"></i>
                    </div>
                </a>
            </td>
            <td>
                {{item.submission_date}}
            </td>
            <td *ngIf="currentUser.cycle.cycle_stage != 2">
                <ul *ngFor="let subCategory of item.comment_by?.split(',')"
                    style="padding-inline-start: 1em; margin-bottom: 0.2rem;">
                    <li>{{ subCategory }}</li>
                </ul>
                <p class="wos-label" *ngIf="item.status == 'autochecked'">Validated by WoS/Scopus</p>
            </td>
            <td *ngIf="currentUser.cycle.cycle_stage == 2">
                <ul *ngFor="let subCategory of item.assessed_r2?.split(',')"
                    style="padding-inline-start: 1em; margin-bottom: 0.2rem;">
                    <li>{{ subCategory }}</li>
                </ul>
                <p class="wos-label" *ngIf="item.status == 'autochecked'">Validated by WoS/Scopus</p>
            </td>
            <td>
                <i class="icon-{{ statusIcon[item.status] }} status-icon"></i>
                <div class="require-second-assessment" *ngIf="item.require_second_assessment">Requires 2nd assessment
                </div>
            </td>
        </tr>
    </tbody>
</table>
<div *ngIf='evaluationList' class="total-items">
    Total items: {{(evaluationList | customFilter:evalStatusFilter:'evaluation_status' | filter:searchText |
    dateFilter:submission_dates:'submission_date' | filterBoolean:rsaFilter:'require_second_assessment' ).length}}
</div>
<div *ngIf="collectionSize > 0" class="d-flex justify-content-center p-2 pagination-container">
    <pagination [rotate]="false"
        [totalItems]="(evaluationList | customFilter:evalStatusFilter:'evaluation_status' | filter:searchText  | dateFilter:submission_dates:'submission_date' | filterBoolean:rsaFilter:'require_second_assessment').length"
        [maxSize]="5" (pageChanged)="pageChanged($event)" [(ngModel)]="currentPage[indicatorTypePage]">
    </pagination>
</div>

<div class="div" *ngIf="collectionSize == 0">There is no data for this indicator</div>
<!-- <div class="embedded-chat" style="height: 500px; width: 100%; border: 1px solid gray;" >
</div> -->


<!-- Loading Spinner -->
<ngx-spinner bdColor="rgba(0, 0, 0, 0.8)" color="#fff" size="default" type="square-jelly-box" [fullScreen]="true">
    <p style="color: white"> Loading... </p>
</ngx-spinner>