@import "../../assets/variables.scss";

h2{
    text-align: center;
    margin: 1em;
    font-size: $font-lg;
}

.table-header {
  tr {
    th {
      text-align: center;
      vertical-align: middle;
      padding: 0.75em;
      text-transform: uppercase;
      cursor: pointer;
    }
    th.active{
        background-color: var( --green-primary);
        color: var(--white);
    }
  }
}

.table-body {
  td {
    text-align: center;
    vertical-align: middle;
    padding: 0.75em;
  }
  th {
    text-align: center;
    vertical-align: middle;
    padding: 0.75em;
  }
  .circle.complete {
    background-color: var(--green-primary);
  }
  .circle.pending {
    background-color: var(--red-primary);
  }
}

.pagination-container{
    pagination{
        .pagination{
            margin: 0;
            background-color: var(--blue-primary);
        }
    }
}
