.jumbotron {
  background-color: var(--white);
}
.test-env {
  background-color: #f02f17;
  position: absolute;
  text-align: center;
  z-index: 99;
  opacity: 0.5;
  padding: 0.3em;
  width: 30%;
  h1 {
    font-size: 1rem;
    margin: 0;
  }
}
