<div class="comments-container">
    <i class="icon-close" (click)="closeComments()"></i>
    <div *ngIf="commentsByCol.length && !availableComment">
        <h2>COMMENTS ON {{dataFromItem.display_name}}</h2>
        <div class="comment-container" >
            <ng-container *ngFor="let comment of commentsByCol">
                <div class="comment-body {{ comment.crp_approved == '1' ? 'approved': ''}} {{  comment.crp_approved == '0' ? 'declined': ''}}" *ngIf="!comment.is_deleted">
                    <div class="comment-title">
                        <div>
                            <span>ADDED BY {{comment.user.username}} </span>
                            <p>On {{comment.createdAt | date: 'long'}}</p>
                        </div>
                        <div>
                            <i *ngIf="!comment.approved && validateStartedMssgs()"
                                (click)="updateComment('approved', comment)" class="icon-star-gray"></i>
                            <i *ngIf="comment.approved && validateStartedMssgs()"
                                (click)="updateComment('approved', comment)" class="icon-star-gold"></i>
                            <i *ngIf="comment.user.id === currentUser.id" (click)="updateComment('is_deleted', comment)"
                                class="icon-remove"></i>
                        </div>
                    </div>
                    <hr style="margin: 0;">
                    <p class="comment">
                        {{comment.detail}}
                    </p>
                    <a *ngIf="comment.replies.replies_count != '0'"
                        (click)="comment.isCollapsed = !comment.isCollapsed; getCommentReplies(comment)">
                        {{comment.replies.replies_count}} replies:
                    </a>
                    <div [attr.aria-expanded]="!comment.isCollapsed">
                        <div id="collapseBasic-{{comment.id}}" [collapse]="!comment.isCollapsed" [isAnimated]="true">
                            <div class="well well-lg card card-block card-header">
                                <ng-container *ngFor="let reply of commentsByColReplies" class="replies-container">
                                    <div class="comment-title">
                                        <div style="flex-direction: column;">
                                            <span>ADDED BY {{reply.user.username}} </span>
                                            <p>On {{reply.createdAt}}</p>
                                        </div>
                                    </div>
                                    <hr style="margin: 0;">
                                    <p class="reply">
                                        {{reply.detail}}
                                    </p>
                                </ng-container>
                                <div class="comment-add-reply">
                                    <form [formGroup]="commentGroup">
                                        <textarea style="width: 100%;" cols="30" rows="3" formControlName="comment"></textarea>
                                    </form>
                                    <button type="button" class="btn btn-primary" (click)="replyComment(comment)">ADD</button>
                                </div>
                            </div>
                        </div>
                        <ngx-spinner [name]="spinner_replies" [fullScreen]="false">
                        </ngx-spinner>
                    </div>
                </div>

            </ng-container>

        </div>
        <div *ngIf="currentComment && currentComment.crp_approved === null" style="flex-direction: row;" class="add-comment-container">
            <button type="button" class="btn btn-danger" (click)="answerComment(false)">REJECT</button>
            <button type="button" class="btn btn-success" (click)="answerComment(true)">ACCEPT</button>
        </div>
    </div>

    <!-- NO COMMENTS -->
    <div *ngIf="!commentsByCol.length && !availableComment">
        <h2>COMMENTS ON {{dataFromItem.display_name}}</h2>
        <p>No comments made</p>
    </div>

    <!-- ACCEPT OR REJECT COMMENT / REPLY -->
    <div *ngIf="availableComment && crpComment" class="add-comment-container reply-comment">
        <i class="icon-close" (click)="availableComment = !availableComment"></i>
        <h2>{{is_approved ? 'ACCEPT':'REJECT'}} COMMENT</h2>
        <form [formGroup]="commentGroup">
            <textarea cols="30" rows="3" formControlName="comment"></textarea>
        </form>
        <button type="button" class="btn btn-primary" (click)="replyComment()">ADD</button>

    </div>

    <!-- ADD COMMENT -->
    <div *ngIf="!availableComment && !crpComment" class="add-comment-container">
        <form [formGroup]="commentGroup">
            <textarea cols="30" rows="3" formControlName="comment"></textarea>
        </form>
        <button type="button" class="btn btn-primary" (click)="addComment()">ADD</button>

    </div>
    <ngx-spinner [name]="spinner_comment" [fullScreen]="false">
    </ngx-spinner>
</div>