@import "../../assets/variables.scss";

.comments-container {
  border: 1px solid var(--gray-primary);
  padding: 20px;
  position: relative;
  display: flex;
  flex-direction: column;
  min-height: 200px;
  margin-left: 1em;
  .comment-body {
    padding: 0.75em;
    margin: .75em 0;
    background-color: var(--gray-primary);
    .comment-title {
      display: flex;
      justify-content: space-between;
      margin: 0.5em;
      div:first-child {
        width: 75%;
        span {
          font-size: $font-sm;
        }
        p {
          font-size: $font-xs;
          margin-bottom: 0;
          font-style: italic;
        }
      }
      div:last-child {
        justify-content: space-between;
        width: auto;
        display: flex;
        i {
          height: 2em;
        }
      }
    }
    .comment {
      padding: 1em;
      margin: 0;
    }
  }
  .add-comment-container {
    display: flex;
    flex-direction: column;
    padding: 2em 0;
    textarea {
      width: 100%;
      border: 1px solid var(--gray-primary);
    }
    button {
      margin-top: 1em;
      width: 20%;
      align-self: flex-end;
    }
  }
  .icon-close {
    height: 2em;
    align-self: flex-end;
  }
  h2 {
    text-align: center;
    text-transform: uppercase;
    font-size: $primary-fs;
  }
}
