<div class="comments-container">
    <i class="icon-close" (click)="closeComments()"></i>
    <div *ngIf="commentsByCol.length && !availableComment">
        <h2>COMMENTS ON {{dataFromItem.display_name}}</h2>
        <div class="comment-container">
            <ng-container *ngFor="let comment of commentsByCol">
                <div class="comment-body {{ comment.crp_approved == '1' ? 'approved': ''}} {{  comment.crp_approved == '0' ? 'declined': ''}}"
                    *ngIf="!comment.is_deleted && comment.is_visible">
                    <div>
                        <div class="comment-title">
                            <div>
                                <span>ADDED BY {{comment.user.username}} </span>
                                <div>
                                    <p>On {{comment.updatedAt | date: 'long'}}</p>
                                    <p> {{comment.cycle.cycle_name}}: <strong>{{comment.cycle.cycle_stage}} </strong></p>
                                </div>
                            </div>
                            <div>
                                <!-- <i *ngIf="(comment.user.id === currentUser.id  && comment.replies.replies_count == '0') && !crpComment " class="icon-edit"></i> -->
                                <i *ngIf="(comment.user.id === currentUser.id || currentUser.roles[0].description === allRoles.admin) && comment.replies.replies_count == '0' && !crpComment "
                                    (click)="updateComment('is_deleted', comment)" class="icon-remove"></i>
                            </div>
                        </div>
                        <hr style="margin: 0;">
                        <p class="comment">
                            {{comment.detail}}
                        </p>
                        <!--  getCommentReplies(comment) -->
                        <a *ngIf="comment.replies.replies_count != '0'" style="cursor: pointer;"
                            (click)="comment.isCollapsed = !comment.isCollapsed;">
                            {{comment.replies.replies_count}} replies:
                        </a>
                        <div [attr.aria-expanded]="!comment.isCollapsed" id="collapseBasic-{{comment.id}}">
                            <div [collapse]="!comment.isCollapsed" [isAnimated]="true">
                                <div class="well well-lg card card-block card-header">
                                    <ng-container *ngFor="let reply of comment.loaded_replies"
                                        class="replies-container">

                                        <div class="comment-title">
                                            <div style="flex-direction: column;">
                                                <span>ADDED BY {{reply.user.username}} </span>
                                                <p>On {{reply.updatedAt  | date: 'long'}}</p>
                                            </div>
                                            <!-- {{reply.user.id}} {{currentUser.id}} -->
                                            <!-- && comment.replies.replies_count == '0' && !crpComment /// || currentUser.roles[0].description === allRoles.admin)  -->
                                            <i style="height: 2em;" *ngIf="reply.user.id === currentUser.id "
                                                (click)="updateCommentReply('is_deleted', reply)" class="icon-remove"></i>
                                        </div>
                                        <hr style="margin: 0;">
                                        <p class="reply">
                                            {{reply.detail}}
                                        </p>
                                    </ng-container>
                                </div>
                            </div>
                            <ngx-spinner [name]="spinner_replies" [fullScreen]="false">
                            </ngx-spinner>
                        </div>
                    </div>

                    <div *ngIf="crpComment && comment.crp_approved === null" style="flex-direction: row;"
                        class="add-comment-container">
                        <button type="button" class="btn btn-danger"
                            (click)="answerComment(false, comment)">REJECT</button>
                        <button type="button" class="btn btn-success"
                            (click)="answerComment(true, comment)">ACCEPT</button>
                    </div>

                    <div *ngIf="crpComment && comment.replies.replies_count == '0'"
                        class="add-comment-container reply-comment"
                        [ngClass]="{'approved' : comment.crp_response === true, 'declined' : comment.crp_response === false}">
                        <h2 *ngIf="comment.hasOwnProperty('crp_response')">{{comment.crp_response ? 'ACCEPT':'REJECT'}}
                            COMMENT</h2>
                        <p class="update-reminder" *ngIf="comment.crp_response">* Before you accept this comment, please
                            make sure you have updated the information in MARLO/MEL.</p>
                        <div *ngIf="comment.hasOwnProperty('crp_response')">
                            <form [formGroup]="commentGroup">
                                <textarea maxlength="{{totalChar}}" formControlName="comment"></textarea>
                            </form>
                            <span class="wordCount">{{ getWordCount(formData.comment.value) }} / 1000 words</span>
                            <button type="button" class="btn btn-primary" (click)="replyComment(comment)">ADD</button>
                        </div>

                    </div>


                </div>

            </ng-container>

        </div>

    </div>

    <!-- NO COMMENTS -->
    <div *ngIf="!commentsByCol.length && !availableComment">
        <h2>COMMENTS ON {{dataFromItem.display_name}}</h2>
        <p>No comments made</p>
    </div>
    <!-- ADD COMMENT -->
    <div *ngIf="!availableComment && !crpComment" class="add-comment-container">
        <form [formGroup]="commentGroup">
            <textarea maxlength="{{totalChar}}" formControlName="comment"></textarea>
        </form>
        <span class="wordCount">{{ getWordCount(formData.comment.value) }} / 1000 words</span>
        <button type="button" class="btn btn-primary" (click)="addComment()">ADD</button>

    </div>
    <ngx-spinner [name]="spinner_comment" [fullScreen]="false">
    </ngx-spinner>
</div>