

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }

// carousel{
//     width: 100%;
//     position: relative;
//     height: auto;
//     padding: 20px;
//     margin-left: 1em;
//     .right.carousel-control.carousel-control-next.ng-star-inserted {
//         color:black;
//         background-color:black;
//     }
//   }