:root {
  --background: #f3f1f1;
  --background-contrast: #f9f9f9;
  --white: #fff;
  --black: #000;
  --input-gray: #f2f2f2;

  --yellow-primary: #ffc84f;
  --yellow-secondary: #ffca30;
  --green-primary: #2e7636;
  --green-secondary: #61b33e;
  // --green-tertiary: #11a221;
  --green-tertiary: #DCECDF;
  --gray-primary: #E1DDDD;
  --gray-secondary: #707070;
  --gray-tertiary: #989898;
  --red-primary: #da4336;
  --red-secondary: #b73428;
  --red-tertiary: #F1B7B7;
  --blue-primary: #0f8981;
}

// primary font
$primary_font: "Montserrat";
// font-weight
$thin: 100;
$light: 300;
$regular: 400;
$bold: 700;
$black: 900;
// Font size
$font-xs: 12px;
$font-sm: 14px;
$primary-fs: 16px;
$font-md: 20px;
$font-lg: 35px;
// icon
$icon-sm: 20px;
$icon-md: 30px;
$icon-lg: 50px;
// sizes (icons, progress bar..)
$size-sm: 10px;
$size-md: 20px;
$size-25: 25px;
$size-lg: 30px;
