<div class="row justify-content-center dashboard-container">
    <div class="col col-programs">
        <p class="card-title">Programs/Platforms ({{selectedProgram}})</p>
        <div class="card">
            <div class="card-body">
                <form [formGroup]="programsForm" class="programs-form btn-group-vertical" (ngSubmit)="onSubmit()">
                    <div class="" *ngFor="let program of crps | sortBy:'asc':'name'; let i=index ">
                        <input (change)="onProgramChange($event, program)" id="program-{{program.id}}" type="radio"
                            class="custom-control-input" value="{{program.id}}" name="program"
                            formControlName="program">
                        <label class="custom-control-label"
                            for="program-{{program.id}}">{{(program.acronym === '' || program.acronym === ' ') ? program.name: program.acronym}}
                            {{getPendings(program)}}</label>
                    </div>
                </form>
            </div>

        </div>
    </div>
    <div class="col col-progress">
        <p class="card-title">Progress on Quality Assessment by Assessors</p>
        <div class="card">
            <div class="card-body">
                <div class="card-title example-container d-flex"
                    [ngClass]="{'no-data': (dashboardData | json) == ({} | json)}">
                    <div class="circle complete"></div>
                    <p>Complete</p>
                    <div class="circle pending" style="margin-left: 50px;"></div>
                    <p>Pending</p>
                </div>

                <ng-container *ngIf="(dashboardData | json) != ({} | json)">
                    <div *ngFor="let item of dashboardData | keyvalue" class="progress-container">
                        <p>{{item.value.total}} {{item.key.split('qa_')[1]}}</p>
                        <progressbar class="progress" [value]="item.value" [max]="item.value.total">
                            <span>{{item.value.total}}</span>
                        </progressbar>
                        <a (click)="goToView(item.key.split('qa_')[1], item.value[0].primary_field)">
                            Go to {{item.key.split('qa_')[1]}}
                        </a>
                    </div>

                </ng-container>
                <div class="no-data" *ngIf="(dashboardData | json) == ({} | json)">
                    You don't have any indicator assingned.
                    Please contact your Administrator.
                </div>

            </div>
        </div>
    </div>
    <div class="col col-activity">
        <div class="title-button">
            <p class="card-title">QA Settings</p>
        </div>
        <div class="card">
            <div class="row row-padding">
                <div class="col-sm">
                </div>
                <div class="col-sm">
                    Enable Assessment
                </div>
                <div class="col-sm">
                    Submit comments
                </div>
            </div>
            <form [formGroup]="settingsForm" novalidate>
                <div *ngFor="let indicator of configurationData" class="activity-container">
                    <!-- <div *ngFor="let indicator of configurationData | keyvalue" class="activity-container"> -->
                    <div class="row row-padding activity-item">
                        <!--<div class="col-sm" (click)="indicator.value.isCollapsed = !indicator.value.isCollapsed">-->
                        <div class="col-sm">
                            {{indicator.indicator_view_name}}
                        </div>
                        <div class="col-sm">
                            <div class="custom-switch qa-toggle">
                                <input [value]="indicator.id" [checked]="isChecked(indicator, 'enableQA')" (change)="onCheckboxChange($event,'enableQA')" type="checkbox"
                                    class="custom-control-input" id="switch-a-{{indicator.id}}">
                                <label class="custom-control-label" for="switch-a-{{indicator.id}}"></label>
                            </div>
                        </div>
                        <div class="col-sm">
                            <div class="custom-switch qa-toggle">
                                <input type="checkbox" class="custom-control-input" id="switch-b-{{indicator.key}}">
                                <label class="custom-control-label" for="switch-b-{{indicator.key}}"></label>
                            </div>
                        </div>
                    </div>

                    <!-- <div id="collapseBasic-{{indicator.key}}" [collapse]="!indicator.value.isCollapsed"
                        class="indicator-container" [isAnimated]="true">
                        <h4>Submit Indicator by Program / Platform</h4>
                        <div class="crps-container">
                            <div class="crp-item" *ngFor="let crp of indicator.value | sortBy:'asc':'name'">
                                {{(crp.acronym === '' || crp.acronym === ' ') ? crp.name: crp.acronym}}
                                <button>
                                    submit
                                </button>
                            </div>
                        </div>
                    </div> -->
                </div>

            </form>

        </div>
    </div>
</div>
<ngx-spinner>
</ngx-spinner>