<!-- <div class="row justify-content-center">
    <i class="qa-timeline-icon"></i>
</div> -->
<app-timeline></app-timeline>
<div class="row justify-content-center dashboard-container">
    <button [ngClass]="{'open-side-menu': showSideMenu}" class="btn-toggle-menu" (click)="toggleSideMenu()"><i class="icon-settings"></i></button>
    <div [ngClass]="{'open-side-menu': showSideMenu}" class="col-programs">
        <p class="card-title">Programs/Platforms ({{selectedProgramName}})</p>
        <div class="card">
            <div class="card-body">
                <form [formGroup]="programsForm" class="programs-form btn-group-vertical">
                    <input (change)="onProgramChange($event, 'null')" id="program-all" type="radio"
                    class="custom-control-input" value="null" name="program"
                    formControlName="program">
                     <label class="custom-control-label" for="program-all">
                    All
                    </label>
                    <div class="" *ngFor="let program of crps | sortBy:'asc':'name'; let i=index ">
                        <input (change)="onProgramChange($event, program)" id="program-{{program.id}}" type="radio"
                            class="custom-control-input" value="{{program.id}}" name="program"
                            formControlName="program">
                        <label class="custom-control-label" for="program-{{program.id}}">
                            {{(program.acronym === '' || program.acronym === ' ') ? program.name: program.acronym}}
                            {{getPendings(program)}}
                        </label>
                    </div>
                </form>
            </div>

        </div>
        <div class="col-activity">
            <div class="title-button">
                <p class="card-title">QA Settings</p>
            </div>
            <div class="card">
                <div class="row row-padding qa-settings">
                    <div class="col-sm">
                    </div>
                    <div class="col-sm" tooltip="{{enableQATooltip}}" placement="top">
                        Enable Assessment
                    </div>
                    <div class="col-sm" tooltip="{{enableCommentsTooltip}}" placement="top">
                        Submit comments
                    </div>
                </div>
                <form [formGroup]="settingsForm" novalidate>
                    <div *ngFor="let indicator of configurationData" class="activity-container">
                        <!-- <div *ngFor="let indicator of configurationData | keyvalue" class="activity-container"> -->
                        <div class="row row-padding activity-item">
                            <!--<div class="col-sm" (click)="indicator.value.isCollapsed = !indicator.value.isCollapsed">-->
                            <div class="col-sm">
                                {{indicator.indicator_view_name}}
                            </div>
                            <div class="col-sm">
                                <div class="custom-switch qa-toggle">
                                    <input [value]="indicator.id" [checked]="isChecked(indicator, 'enableQA')"
                                        (change)="onCheckboxChange($event,'enableQA')" type="checkbox"
                                        class="custom-control-input" id="switch-a-{{indicator.id}}">
                                    <label class="custom-control-label" for="switch-a-{{indicator.id}}"></label>
                                </div>
                            </div>
                            <div class="col-sm">
                                <div class="custom-switch qa-toggle">
                                    <input [value]="indicator.id" type="checkbox"
                                        [checked]="isChecked(indicator, 'enableCRP')"
                                        (change)="onCheckboxChange($event,'enableCRP')" class="custom-control-input"
                                        id="switch-b-{{indicator.id}}">
                                    <label class="custom-control-label" for="switch-b-{{indicator.id}}"></label>
                                </div>
                            </div>
                        </div>

                    </div>

                </form>

            </div>
            <!-- cycle date picker -->
            <div class="card">
                <p class="card-title" style="text-align: center; padding: 1em 0;">QA Rounds</p>
                <div class="row row-padding qa-settings">
                    <form class="form-inline">
                        <div *ngFor="let cycle of dashboardCyclesData">
                            <div class="row">
                                <p style="margin: 0 1em; padding: 0.5em">Stage: <strong>{{cycle.cycle_stage}}</strong>
                                </p>
                                <div class="form-group">
                                    <div class="input-group">
                                        <input #dpFromDate class="form-control" [disabled]="!cycle.is_active"
                                            placeholder="yyyy-mm-dd" name="dpFromDate"
                                            [value]="formatter.format(cycle.start_date)"
                                            (input)="fromDate = validateInput(cycle.start_date, dpFromDate.value)">
                                        <!-- (input)="validateInput(cycle.start_date, dpFromDate.value)"> -->
                                        <div class="input-group-append">
                                            <button [disabled]="!cycle.is_active"
                                                class="btn btn-outline-secondary calendar" (click)="datepicker.toggle()"
                                                type="button"></button>
                                        </div>
                                    </div>
                                </div>
                                <div class="form-group ml-2">
                                    <div class="input-group">
                                        <input #dpToDate class="form-control" [disabled]="!cycle.is_active"
                                            placeholder="yyyy-mm-dd" name="dpToDate"
                                            [value]="formatter.format(cycle.end_date)"
                                            (input)="toDate = validateInput(cycle.end_date, dpToDate.value)">
                                        <!-- (input)="validateInput(cycle.end_date, dpToDate.value)"> -->
                                        <div class="input-group-append">
                                            <button [disabled]="!cycle.is_active"
                                                class="btn btn-outline-secondary calendar" (click)="datepicker.toggle()"
                                                type="button"></button>
                                        </div>
                                    </div>

                                </div>
                            </div>

                        </div>
                        <div class="form-group hidden">
                            <div class="input-group">
                                <input name="datepicker" style="opacity: 0;" class="form-control" ngbDatepicker
                                    #datepicker="ngbDatepicker" [autoClose]="'outside'"
                                    (dateSelect)="onDateSelection($event)" [displayMonths]="2" [dayTemplate]="t"
                                    outsideDays="hidden" [startDate]="fromDate!">
                                <ng-template #t let-date let-focused="focused">
                                    <span class="custom-day" [class.focused]="focused" [class.range]="isRange(date)"
                                        [class.faded]="isHovered(date) || isInside(date)"
                                        (mouseenter)="hoveredDate = date" (mouseleave)="hoveredDate = null">
                                        {{ date.day }}
                                    </span>
                                </ng-template>
                            </div>
                        </div>
                    </form>

                    <button style="margin: 2em auto;" type="button" class="btn btn-outline-warning"
                        (click)="updateCycle()" [disabled]="!validateNewDate()">Update cycle</button>
                </div>
            </div>
        </div>
    </div>
    <div class="col col-progress">
        <div class="row mini-header" style="padding: 0 15px;">
            <div class="model-link-container" (click)="goToPDF('AR')">
                <i class="icon-pdf"></i>
                <hr>
                <p>2020 AR Template</p>
            </div>
            <div class="model-link-container" (click)="goToPDF('ASSESSORS_GUIDANCE')">
                <i class="icon-pdf"></i>
                <hr>
                <p>2021 Assessor Guidance</p>
            </div></div>
        <div class="row" style="padding: 0 15px;">
            <p class="card-title col-9">Progress by Assessors</p>

            <button *ngIf="selectedProgramName != 'All' " type="button" class="btn btn-success col-3" (click)="downloadRawComments()">Download all comments and
                replies</button>
        </div>
        <div class="card">
            <div class="card-body">

                <div class="dashboard-container row w-100">
                    <div class="card-body dashboard-container-charts col " [ngClass]="{'col-sm-12' : isRound2, 'col-sm-9': !isRound2}">
                        <div class="w-100 dashboard-header mb-2">
                            <div class="h-100  title">Dashboard {{getIndicatorName(selectedIndicator)}}</div>
                            <div class="btn-group h-100 selector" dropdown>
                                <button id="button-animated" dropdownToggle type="button"
                                    class="btn btn-white dropdown-toggle w-100" aria-controls="dropdown-animated">
                                    {{getIndicatorName(selectedIndicator)}} <span class="caret"></span>
                                </button>
                                <ul id="dropdown-animated" *dropdownMenu class="dropdown-menu w-100" role="menu"
                                    aria-labelledby="button-animated">
                                    <li *ngFor="let indicator of indicatorsAvailable" role="menuitem"><a
                                            class="dropdown-item"
                                            (click)=actualIndicator(indicator.viewname)>{{indicator.name}}</a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                        <div *ngIf="dashboardData && ((dashboardData | json) != ({} | json))"
                            class="w-100 grid-container">
                            <div class="chart chart-1">
                                <div class="header-chart">
                                    <h4 class="chart-title" [tooltip]="popTemplateChartA">Status -
                                        {{dataSelected.total}}
                                        {{getIndicatorName(selectedIndicator)}}</h4>
                                    <i class="icon-info" [tooltip]="popTemplateChartA"></i>
                                    <ng-template #popTemplateChartA>
                                        <div [innerHtml]="descriptionCharts.generalStatus"></div>
                                    </ng-template>
                                </div>
                                <div class="chart-container">
                                    <app-donut-chart *ngIf="dataSelected" [data]="dataCharts.generalStatus"
                                        [chartName]="indicator_status" [selectedIndicator]="selectedIndicator" >
                                    </app-donut-chart>
                                </div>
                            </div>
                            <div class="chart chart-2">
                                <div class="header-chart">
                                    <h4 class="chart-title">Assessors interactions</h4>
                                    <i class="icon-info" [tooltip]="popTemplateChartB"></i>
                                    <ng-template #popTemplateChartB>
                                        <div [innerHtml]="descriptionCharts.assessorsInteractions"></div>
                                    </ng-template>
                                </div>
                                <div class="chart-container">
                                    <app-bar-chart *ngIf="indicatorsTags" [data]="dataCharts.assessorsInteractions"
                                        (filterTagEvent)="updateFeedTags($event)"></app-bar-chart>
                                </div>
                            </div>
                            <div class="chart"
                                [ngClass]="{  'responses-to-comments-r2': currentUser.cycle.cycle_stage != '1' || activeCompleteDash}">
                                <div class="header-chart">
                                    <h4 class="chart-title">Responses to comments</h4>
                                    <i class="icon-info" [tooltip]="popTemplateChartC"></i>
                                    <ng-template #popTemplateChartC>
                                        <div [innerHtml]="descriptionCharts.responseToComments"></div>
                                    </ng-template>
                                </div>
                                <div *ngIf="dashboardCommentsData[selectedIndicator]" class="chart-container">
                                    <app-donut-chart [data]="dataCharts.responseToComments" [chartName]="'comments'" [selectedIndicator]="selectedIndicator">
                                    </app-donut-chart>
                                </div>
                            </div>
                            <div class="chart"
                                [ngClass]="{ 'assessment-by-field-r2': currentUser.cycle.cycle_stage == true || activeCompleteDash}">
                                <div class="header-chart">
                                    <h4 class="chart-title">Assessment by field</h4>
                                    <div class="link-fs" (click)="openChart(chartD, $event)">View in full screen</div>
                                    <i class="icon-info" [tooltip]="popTemplateChartD"></i>
                                    <ng-template #popTemplateChartD>
                                        <div [innerHtml]="descriptionCharts.assessmentByField"></div>
                                    </ng-template>

                                </div>
                                <div class="chart-container" *ngIf="dataCharts.assessmentByField"> 
                                    <app-line-chart [indicatorName]="selectedIndicator" [total]="dataSelected.total" [data]="dataCharts.assessmentByField" [isModal]=false></app-line-chart>
                                </div>
                            </div>
                            <!-- <button class="btn btn-green-secondary">Download all comments and replies</button> -->
                            <button class="btn btn-primary"
                                *ngIf="dashboardData && ((dashboardData | json) != ({} | json))"
                                routerLinkActive="active" [routerLinkActive]="['active']"
                                routerLink="../../indicator/{{selectedIndicator.split('qa_')[1]}}/id">Go to
                                {{getIndicatorName(selectedIndicator)}}</button>

                        </div>

                        <div class="no-data" *ngIf="(dashboardData | json) == ({} | json)">
                            You don't have any indicator assingned.
                            Please contact your Administrator.
                        </div>


                    </div>
                    <div class="card-body feed col col-sm-3" *ngIf="!isRound2">
                        <div class="feed-container w-100 h-100">
                            <div class="feed-title">Feed</div>
                            <ul class="notifications">
                                <li class="notification" *ngFor="let item of feedList" [routerLinkActive]="['active']"
                                    routerLink="../../indicator/{{item.indicator_view_name.split('qa_')[1]}}/id/detail/{{item.indicator_view_id}}">
                                    <!-- <div [ngClass]="{'agree': item.tagName == 'agree', 'notsure': item.tagName == 'notsure', 'disagree': item.tagName == 'disagree'}" class="tag-color"></div> -->
                                    <div class="datetime">{{item.updatedAt | date:'long':'+0530'}}</div>
                                    <!-- <div class="datetime">{{formatDate(item.updatedAt)}}</div> -->
                                    <div class="content-action">
                                        <div [ngClass]="{'agree': item.tagName == 'agree', 'notsure': item.tagName == 'notsure', 'disagree': item.tagName == 'disagree'}"
                                            class="tag-color"></div>
                                        <p>

                                            <strong>{{item.name}}</strong> {{tagMessages[item.tagName]}} <strong>
                                                QA-{{item.indicator_view_name.split('qa_')[1].substring(0,2).toUpperCase()}}-{{item.indicator_view_id}}</strong>
                                        </p>
                                    </div>
                                </li>
                            </ul>
                        </div>

                    </div>
                </div>
                <!-- <div class="card-body old">
                    <div class="card-title example-container d-flex"
                        [ngClass]="{'no-data': (dashboardData | json) == ({} | json)}">
                        <p><strong>By indicator: </strong></p>
                        <div class="circle complete"></div>
                        <p>Complete</p>
                        <div class="circle pending" style="margin-left: 50px;"></div>
                        <p>Pending</p>
                        <div class="circle finalized" style="margin-left: 50px;"></div>
                        <p>Closed</p>
                    </div>
                    <div class="card-title example-container d-flex"
                        [ngClass]="{'no-data': (dashboardData | json) == ({} | json)}">
                        <p><strong>By field: </strong></p>
                        <div class="circle complete"></div>
                        <p>Approved comments</p>
                        <div class="circle pending" style="margin-left: 50px;"></div>
                        <p>Rejected replies</p>
                        <div class="circle unanswered" style="margin-left: 50px;"></div>
                        <p>Pending response</p>
                    </div>

                    <ng-container *ngIf="(dashboardData | json) != ({} | json)">
                        <div *ngFor="let item of dashboardData | keyvalue | sortBy:'asc':'value.order' "
                            class="progress-container">
                            <p>{{item.value.total}} {{getIndicatorName(item.key)}}</p>
                            <progressbar class="progress" [value]="item.value" [max]="item.value.total">
                                <span>{{item.value.total}}</span>
                            </progressbar>
                            <hr>
                            <p *ngIf=" item && dashboardCommentsData[item.key]">Total comments:
                                {{dashboardCommentsData[item.key].total}}</p>
                            <progressbar id="comments-progessbar" *ngIf=" item && dashboardCommentsData[item.key]"
                                class="progress" [value]="dashboardCommentsData[item.key]"
                                [max]="dashboardCommentsData[item.key].total">
                                <span>{{dashboardCommentsData[item.key].value}}</span>
                            </progressbar>
                            <a routerLinkActive="active" [routerLinkActive]="['active']"
                                routerLink="../../indicator/{{item.key.split('qa_')[1]}}/id">
                                (click)="goToView(item.key.split('qa_')[1], item.value[0].primary_field)">
                                Go to all {{getIndicatorName(item.key)}}
                            </a>
                        </div>

                    </ng-container>
                    <div class="no-data" *ngIf="(dashboardData | json) == ({} | json)">
                        You don't have any indicator assingned.
                        Please contact your Administrator.
                    </div>

                </div> -->
            </div>
        </div>

    </div>
    <ngx-spinner bdColor = "rgba(0, 0, 0, 0.8)" color = "#fff" type = "square-jelly-box" [fullScreen] = "true"><p style="color: white" > Loading... </p></ngx-spinner>


    <ng-template #template class="modal-dialog">
        <div class="modal-content  modal-lg">
            <div class="modal-header">
                <button class="btn btn-warning" (click)="downloadRawComments()">
                    Download comments
                </button>
                <h2 style="margin-left: 1em;">All comments</h2>
                <button type="button" class="close pull-right" (click)="modalRef.hide()" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div class="row justify-content-center comments-dash-container">
                    <ngx-charts-bar-vertical-stacked *ngIf="has_comments" [scheme]="colorScheme" [results]="multi"
                        [gradient]="gradient" [xAxis]="showXAxis" [yAxis]="showYAxis" [legend]="showLegend"
                        [showXAxisLabel]="showXAxisLabel" [showYAxisLabel]="showYAxisLabel" [xAxisLabel]="xAxisLabel"
                        [yAxisLabel]="yAxisLabel" [animations]="animations" (activate)="onActivate($event)"
                        (deactivate)="onDeactivate($event)" (select)="onSelect($event)">
                    </ngx-charts-bar-vertical-stacked>

                    <div *ngIf="!has_comments && !has_comments_detailed" class="no-data">
                        Sorry, we couldn't get comments.
                        Please contact support.
                    </div>

                </div>
            </div>
        </div>
    </ng-template>

    <ng-template #chartD style="max-width: 1800px;" >
        <div class="options-modal">
            <button type="button" class="close pull-right" (click)="modalRef.hide()" aria-label="Close">
                <span aria-hidden="true">&times;</span>
            </button>
        </div>
        <div  class="modal-content  modal-lg" >
            <div class="chart-modal-container" *ngIf="dataCharts.assessmentByField"> 
                <app-line-chart [indicatorName]="selectedIndicator" [total]="dataSelected.total" [data]="dataCharts.assessmentByField" [isModal]=true></app-line-chart>
            </div>
        </div>
    </ng-template>