@import "../../../assets/variables.scss";

.btn-assessors-chat {
  position: fixed;
  right: 2em;
  bottom: 2em;
  z-index: 10;
  width: auto;
  height: 40px;
  background-color: rgb(80, 33, 166);
  color: white;
  padding: 0.5em 1.5em;
  display: grid;
  place-items: center;
  border-radius: 15px;
  &:hover{
    cursor: pointer;
  }
}



.chat-container {
  position: fixed;
  width: 400px;
  height: 700px;
  right: 2em;
  bottom: 5em;
  z-index: 10;
  display: flex;
  flex-direction: column;
  background-color: rgb(80, 33, 166);
  -webkit-box-shadow: 0px 0px 17px 1px rgba(0,0,0,0.4); 
  box-shadow: 0px 0px 17px 1px rgba(0,0,0,0.4);
  border-radius: 15px;
  .btn-selector {
    border: 0;
    height: 40px;
    background-color: rgb(80, 33, 166);
    color: #fff;
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;

  }
  
  .holder {
    border: 0;
    max-height: calc(100% - 40px);
    min-width: 100%;
    border-radius: 4px;
    iframe {
      position: absolute;
      width: 100%;
      height: calc(100% - 40px);
      border: 0;
      position:absolute;
      bottom:0;
      left:0;
      z-index: 10;
      // border-radius: 4px;
    }

    .selected {
      z-index: 11;
    }
  }

}

.tag-color{
  height: 5px;
  width: 100%;
}

.agree {
  background-color: var(--color-agree);
}
.disagree {
  background-color: var(--color-disagree);
}
.notsure {
  background-color: var(--color-not-sure);
}

.inactive{
  display: none !important;
}

.clickable {
  &:hover {
    cursor:pointer;
  }
}

.dashboard-container, .new-dashboard-container {

  .card-title {
    font-weight: $light;
    font-size: $font-md;
    width: 100%;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    padding: 0;
  }
  .title-button {
    display: flex;
    justify-content: space-between;
    .card-title {
      width: auto;
    }
  }
  .card {
    .card-body {
      .dashboard-container, .new-dashboard-container{
        background-color: var(--background);
        height: max-content;
        .dashboard-container-charts{
          height: max-content;
        }
        .feed-container{
          background-color: var(--white);
          border-radius: 5px;
          max-height: auto;
          .feed-title{
            font-family: $secondary-font;
            font-size: $font-md;
            font-weight: $bold;
            padding: 5px;
            text-align: center;
          }
          ul{
            list-style-type: none;
            margin:0;
            overflow-y: scroll;
            max-height: 800px;
            padding: 1em 0;
            &::-webkit-scrollbar-track
            {
              border-radius: 10px;
              // -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
              // box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
              background-color: #F5F5F5;
            }
            
            &::-webkit-scrollbar
            {
              width: 12px;
              background-color: #F5F5F5;
            }
            
            &::-webkit-scrollbar-thumb
            {
              border-radius: 10px;
              background-color: var(--yellow-secondary);
            }
            li{
              display: flex;
              flex-direction: column;
              justify-content: center;
              align-items: center;
              min-height: 3em;
              border-top: 1px solid var(--gray-primary);
              .datetime{
                font-size: $font-xs;
                font-weight: $light;
                color: var(--gray-secondary);
                align-self: flex-end;
                padding:  0.5em 1em;
              }
              .content-action {
                display: flex;
                p{
                  padding:  0.5em 1em;
                  margin: 0;
                  width: 100%;
                }
                .tag-color{
                  height: auto;
                  width: 4px;
                }
                &:hover{
                  background-color: var(--white-gray);
                  cursor: pointer;
                }
              }
              
              .agree {
                background-color: var(--color-agree);
              }
              .disagree {
                background-color: var(--color-disagree);
              }
              .notsure {
                background-color: var(--color-not-sure);
              }
            }
          }
        }
        .card-body{
          .dashboard-header{
            display: flex;
            // -webkit-box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.60);
            // -moz-box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.60);
            // box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.60);
            .title{
              background-color: var(--yellow-primary);
              font-size: $font-md;
              font-weight: $bold;
              padding: 5px;
              text-align: center;
              width: 60%;
            }
            .selector {
              width: 40%;
            }
            ul>li {
              cursor: pointer;
            }
          }
          .flex-container {
            .row{
              .chart {
                background-color: white;
                min-height: 400px;
                border-radius: 10px;
                display: flex;
                flex-direction: column;
                padding: 0.5em;
              }
              .chart-1{
                min-height: 400px;
              }
              .chart-left {
                min-width: 400px;
                max-width: 400px;
                .chart-title{
                  width: 100%;
                  flex: 0 1 auto;
                  margin: 0;
                  padding: 5px;
                  font-family: $secondary-font;
                  font-weight: bold;
                }
                .chart-container {
                  width: 100%;
                  max-width: 100%;
                }
            }
            }
            
          }
    
          .grid-container {
            display: grid;
            max-width: 100% !important;
            grid-template-columns: 400px calc(100% - 400px);
            grid-template-rows: repeat(2, minmax(200px, 400px)) auto;
            column-gap: 15px;
            row-gap: 15px;
            button {
              grid-column: 1 / 3;
            }
            .chart {
              background-color: white;
              height: 100%;
              border-radius: 5px;
              display: flex;
              flex-direction: column;
              padding: 0.5em;
              .header-chart {
                display: flex;
                justify-content: space-between;
                align-items: flex-start;
                i {
                  max-width: 20px;
                }
                .chart-title{
                  width: auto;
                  flex: 0 1 auto;
                  margin: 0;
                  padding: 5px;
                  font-family: $secondary-font;
                  font-weight: bold;
                }
              }
              .chart-container {
                width: 100%;
                // max-height: 100%;
                flex: 1 1 auto;
                max-width: 100&;
                // app-bar-chart{
                //   height: 100%;
                //   max-height: 100%;
    
                // }
              }
            }
            
            .chart-1 {         
              grid-column: 1 / 2;
              grid-row: 1 / 2;
            }
            .chart-2{
              grid-column: 2 / 3;
              grid-row: 1 / 2;
            }
            .responses-to-comments-r1 {         
              display: none;
            }
            .responses-to-comments-r2 {         
              grid-column: 1 / 2;
              grid-row: 2 / 3;
            }
            .assessment-by-field-r1 {
              grid-column: 1 / 3;
              grid-row: 2 / 3;
            }
            .assessment-by-field-r2{
              grid-column: 2 / 3;
              grid-row: 2 / 3;
            }
          }
        }
      }
      .no-data {
        text-align: center;
        margin-bottom: 2em;
        // font-weight: bold;
        .circle {
          margin-bottom: 0;
          opacity: 0.5;
        }
      }
      .example-container.comments {
        .complete {
          background-color: var(--yellow-primary);
        }
        .pending {
          background-color: var(--blue-primary);
        }
      }
      .example-container {
        justify-content: flex-end;
        p {
          margin: 0 5px;
          font-size: $font-sm;
          line-height: $size-lg;
          align-self: center;
        }
        .circle {
          height: $size-sm;
          width: $size-sm;
        }
        .complete {
          background-color: var(--green-primary);
        }
        .pending {
          background-color: var(--red-primary);
        }
        .finalized {
          background-color: var(--blue-secondary);
        }
        .unanswered {
          background-color: var(--gray-secondary);
        }
      }
      .progress-container {
        display: flex;
        flex-direction: column;
        p {
          margin: 10px 0px 0px 0px;
          text-transform: capitalize;
          font-size: $font-sm;
        }
        a {
          // max-width: 40%;
          margin-left: auto;
          text-align: right;
          margin-top: 0.2em;
          text-decoration: underline;
          cursor: pointer;
          font-size: $font-xs;
          // text-transform: capitalize;
        }
        .progress {
          height: $size-lg;
        }
      }
    }
  }

  // .col-progress {
  //   button {
  //     font-size: 0.6em;
  //     height: 3em;
  //   }
  // }

  .col-programs {
    .programs-form {
      margin: 0 $size-lg;
      .custom-control-input:checked ~ .custom-control-label::before {
        color: var(--white);
        border-color: var(--yellow-primary);
        background-color: var(--yellow-primary);
        border-radius: 50%;
      }
    }
  }

  .col-activity {
    .card {
      .row-padding {
        padding: 10px 15px;
        margin: 0;
        .qa-toggle {
          display: flex;
          justify-content: center;
        }
      }
    }
    .activity-container {
      .activity-item {
        padding: 10px 10px;
        // margin: 10px 15px 0;
        border-bottom: 1px solid var(--gray-primary);
      }
      .indicator-container {
        background: var(--input-gray);
        border: none;
        h4 {
          text-align: center;
          font-size: $primary-fs;
          font-weight: $bold;
          padding: 1em;
          margin: 0;
        }
        .crps-container {
          width: 100%;
          padding: 1.2em;
          display: flex;
          flex-direction: row;
          justify-content: left;
          flex-wrap: wrap;
          .crp-item {
            width: 45%;
            height: 2em;
            line-height: 2em;
            display: flex;
            justify-content: space-between;
            margin: 10px;
            color: var(--black);
            font-weight: $regular;
            text-align: left;
            vertical-align: middle;
            button {
              background: var(--yellow-primary);
              border: none;
              width: 30%;
              border-radius: 10px;
              color: white;
              font-size: $font-sm;
              text-transform: uppercase;
              font-weight: $bold;
            }
          }
        }
      }
    }
    .qa-settings {
      .col-sm {
        text-align: center;
      }
    }
  }


}
