@import "../../../assets/variables.scss";
.dashboard-container {
  .card-title {
    font-weight: $light;
    font-size: $font-md;
    width: 100%;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }
  .title-button {
    display: flex;
    justify-content: space-between;
    .card-title {
      width: auto;
    }
  }
  .card {
    .card-body {
      .no-data {
        text-align: center;
        margin-bottom: 2em;
        // font-weight: bold;
        .circle {
          margin-bottom: 0;
          opacity: 0.5;
        }
      }
      .example-container {
        margin-bottom: 2em;
        justify-content: center;
        p {
          margin: 0 15px;
          line-height: $size-lg;
          align-self: center;
        }
        .circle {
          height: $size-md;
          width: $size-md;
        }
        .complete {
          background-color: var(--green-primary);
        }
        .pending {
          background-color: var(--red-primary);
        }
      }
      .progress-container {
        display: flex;
        flex-direction: column;
        p {
          margin: 10px 0px;
          text-transform: capitalize;
        }
        a {
          // max-width: 40%;
          margin-left: auto;
          text-align: right;
          margin-top: 1em;
          text-decoration: underline;
          cursor: pointer;
          // text-transform: capitalize;
        }
        .progress {
          height: $size-lg;
        }
      }
    }
  }

  .col-programs {
    .programs-form {
      margin: 0 $size-lg;
      .custom-control-input:checked ~ .custom-control-label::before {
        color: var(--white);
        border-color: var(--yellow-primary);
        background-color: var(--yellow-primary);
        border-radius: 50%;
      }
    }
  }

  .col-activity {
    .card {
      .row-padding {
        padding: 10px 15px;
        margin: 0;
        .qa-toggle {
          display: flex;
          justify-content: flex-end;
        }
      }
    }
    .activity-container {
      .activity-item {
        padding: 10px 10px;
        // margin: 10px 15px 0;
        border-bottom: 1px solid var(--gray-primary);
      }
      .indicator-container {
        background: var(--input-gray);
        border: none;
        h4 {
          text-align: center;
          font-size: $primary-fs;
          font-weight: $bold;
          padding: 1em;
          margin: 0;
        }
        .crps-container {
          width: 100%;
          padding: 1.2em;
          display: flex;
          flex-direction: row;
          justify-content: left;
          flex-wrap: wrap;
          .crp-item {
            width: 45%;
            height: 2em;
            line-height: 2em;
            display: flex;
            justify-content: space-between;
            margin: 10px;
            color: var(--black);
            font-weight: $regular;
            text-align: left;
            vertical-align: middle;
            button {
              background: var(--yellow-primary);
              border: none;
              width: 30%;
              border-radius: 10px;
              color: white;
              font-size: $font-sm;
              text-transform: uppercase;
              font-weight: $bold;
            }
          }
        }
      }
    }
    .qa-settings{
      .col-sm{
        text-align: center;
      }
    }
  }
}
