<div class="row justify-content-center">
    <i class="qa-timeline-icon"></i>
</div>

<div class="row justify-content-center dashboard-container">

    <div class="col-12 col-progress">

        <div class="card">
            <div class="card-body">
                <div class="card-title example-container d-flex"
                    [ngClass]="{'no-data': (dashboardData | json) == ({} | json)}">
                    <p><strong>By indicator: </strong></p>
                    <div class="circle complete"></div>
                    <p>Answered</p>
                    <div class="circle pending" style="margin-left: 50px;"></div>
                    <p>Pending replies</p>
                </div>
                <div class="card-title example-container d-flex"
                    [ngClass]="{'no-data': (dashboardData | json) == ({} | json)}">
                    <p><strong>By field: </strong></p>
                    <div class="circle complete"></div>
                    <p>Approved comments</p>
                    <div class="circle pending" style="margin-left: 50px;"></div>
                    <p>Rejected replies</p>
                    <div class="circle unanswered" style="margin-left: 50px;"></div>
                    <p>Pending response</p>
                </div>

                <ng-container *ngIf="(dashboardData | json) != ({} | json)">
                    <div *ngFor="let item of dashboardData | keyvalue | sortBy:'asc':'value.order' "
                        [ngClass]="{'no-available': !item.value[0].indicator_status}" class="progress-container">
                        <p>{{item.value.total}} {{getIndicatorName(item.key)}}</p>
                        <!-- {{item.value.total}} -->
                        <progressbar class="progress" [value]="item.value" [max]="item.value.total">
                            <span>{{item.value.total}}</span>
                        </progressbar>
                        <p *ngIf="item && dashboardCommentsData[item.key]">Total comments: {{dashboardCommentsData[item.key].total}}</p>
                        <progressbar id="comments-progessbar" *ngIf="item && dashboardCommentsData[item.key]" class="progress" [value]="dashboardCommentsData[item.key]" [max]="dashboardCommentsData[item.key].total">
                            <span>{{dashboardCommentsData[item.key].value}}</span>
                        </progressbar>

                        <a *ngIf="item.value[0].indicator_status == 1" routerLinkActive="active"
                            [routerLinkActive]="['active']" (click)="modalRef.hide()"
                            routerLink="../indicator/{{item.key.split('qa_')[1]}}/id">
                            Go to {{getIndicatorName(item.key)}}
                        </a>
                        <a *ngIf="item.value[0].indicator_status == 0">
                            Go to {{getIndicatorName(item.key)}}
                        </a>
                    </div>

                </ng-container>
                <div class="no-data" *ngIf="(dashboardData | json) == ({} | json)">
                    You don't have any indicator assingned.
                    Please contact your Administrator.
                </div>
                <ngx-spinner [name]="spinner2" [fullScreen]="false"></ngx-spinner>

            </div>
        </div>


    </div>
</div>





<ng-template #template class="modal-dialog">
    <div class="modal-content  modal-lg">
        <div class="modal-header">
            <button type="button" class="close pull-right" (click)="modalRef.hide()" aria-label="Close">
                <span aria-hidden="true">&times;</span>
            </button>
        </div>
        <div class="modal-body">
            <div class="row" style="    justify-content: space-around;">
                <h2>Comments </h2>


            </div>
            <div class="row justify-content-center comments-dash-container">
                <canvas *ngIf="has_comments" baseChart  #crpChart="base-chart"  [datasets]="barChartData"
                    [labels]="barChartLabels" [options]="barChartOptions" [legend]="barChartLegend"
                    [chartType]="barChartType">
                </canvas>
                <div *ngIf="!has_comments" class="no-data">
                    None comments made yet
                </div>


            </div>

            <ngx-spinner [name]="spinner1" [fullScreen]="false"></ngx-spinner>
        </div>
    </div>
</ng-template>