<div class="row justify-content-center">
    <i class="qa-timeline-icon"></i>
    <h2 style="margin: 1em auto;"
        *ngIf="currentUser && !currentUser.hasOwnProperty('cycle') && currentUser.cycle_ended">
        The quality assessment process has ended.
    </h2>
</div>

<div class="row justify-content-center dashboard-container">

    <div class="col-12 col-progress">

        <div *ngIf="dashboardData && dashboardCommentsData" class="dashboard-grid">
            <div *ngFor="let indicator of dashboardData | keyvalue | sortBy:'asc':'value.order'" class="indicator">
                <div class="chart status-chart"> 
                    <app-status-chart 
                    [indicator]="[{name: indicator.key, series: indicator.value}]"
                    [total]="indicator.value.total"
                    ></app-status-chart>
                </div>
                <div class="chart comments-chart">
                    <app-comments-chart
                    *ngIf="dashboardCommentsData.hasOwnProperty(indicator.key)"
                     [total]="dashboardCommentsData[indicator.key].total"
                     [data]="formatCommentsIndicatorData(dashboardCommentsData[indicator.key])">
                    </app-comments-chart>
                    <app-comments-chart
                    *ngIf="!dashboardCommentsData.hasOwnProperty(indicator.key)"
                     [total]="0"
                     [data]="false">
                    </app-comments-chart>
                </div>
                <div class="chart comments-chart" class="chart pending-responses">
                    <div *ngIf="dashboardCommentsData.hasOwnProperty(indicator.key)" class="total-pending">{{dashboardCommentsData[indicator.key].total}}</div>
                    <div *ngIf="!dashboardCommentsData.hasOwnProperty(indicator.key)" class="total-pending">0</div>
                <button class="btn btn-primary btn-response-pending" (click)="goToPendingItems(indicator.key)" >Answer pending comments</button>
                </div>
            </div>
        </div>
    </div>

</div>



<ng-template #template class="modal-dialog">
    <div class="modal-content  modal-lg">
        <div class="modal-header">
            <button class="btn btn-warning" (click)="downloadRawComments()">
                Download comments
            </button>
            <h2 style="margin-left: 1em;">All comments</h2>
            <button type="button" class="close pull-right" (click)="modalRef.hide()" aria-label="Close">
                <span aria-hidden="true">&times;</span>
            </button>
        </div>
        <div class="modal-body">
            <div class="row justify-content-center comments-dash-container">
                <ngx-charts-bar-vertical-stacked *ngIf="has_comments" [scheme]="colorScheme" [results]="multi"
                    [gradient]="gradient" [xAxis]="showXAxis" [yAxis]="showYAxis" [legend]="showLegend"
                    [showXAxisLabel]="showXAxisLabel" [showYAxisLabel]="showYAxisLabel" [xAxisLabel]="xAxisLabel"
                    [yAxisLabel]="yAxisLabel" [animations]="animations" (activate)="onActivate($event)"
                    (deactivate)="onDeactivate($event)" (select)="onSelect($event)">
                </ngx-charts-bar-vertical-stacked>

                <div *ngIf="!has_comments" class="no-data">
                    Sorry, we couldn't get comments.
                    Please contact support.
                </div>

            </div>
        </div>
        <ngx-spinner [name]="spinner1" [fullScreen]="false"></ngx-spinner>
    </div>
</ng-template>

<!-- <ng-template #template class="modal-dialog">
    <div class="modal-content  modal-lg">
        <div class="modal-header">
            <button type="button" class="close pull-right" (click)="modalRef.hide()" aria-label="Close">
                <span aria-hidden="true">&times;</span>
            </button>
        </div>
        <div class="modal-body">
            <div class="row" style="    justify-content: space-around;">
                <h2>Comments </h2>


            </div>
            <div class="row justify-content-center comments-dash-container">
                <canvas *ngIf="has_comments" baseChart  #crpChart="base-chart"  [datasets]="barChartData"
                    [labels]="barChartLabels" [options]="barChartOptions" [legend]="barChartLegend"
                    [chartType]="barChartType">
                </canvas>
                <div *ngIf="!has_comments" class="no-data">
                    None comments made yet
                </div>


            </div>

            <ngx-spinner [name]="spinner1" [fullScreen]="false"></ngx-spinner>
        </div>
    </div>
</ng-template> -->